@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.top-investment-table {
	table {
		thead {
			border: none !important; 
			tr {
				th {
					p {
						font-size: $font-14;
						font-style: normal;
						font-weight: 400;
						line-height: 160%;
						color: $primary;
						opacity: 0.5;
						border-left: 1px solid $border-dark !important; 
						padding: 0 2.4rem !important;
						margin:0;
					}
					
				}
			}
		}

		tbody {
			border: none !important;
			tr {
				border-top:1px solid $border-dark;  
				td {
					
					padding: 5rem 0 !important;
					position: relative;

					p {
						border-left: 1px solid $border-dark !important; 
						padding: 0 2.4rem !important;
						color:$primary;
						font-size: $font-16;
						font-style: normal;
						font-weight: 400;
						line-height: 160%;
						margin: 0;
					}
				

					&::before {
						display: none;
					}

					&.name {
						padding-left: 12.4rem !important;
					}

					img {
						width: 10rem;
						height: 10rem;
						transition: opacity $ease $speed;
						margin-right: 2.4rem;
						position: absolute;
						top: 1.6rem;
						left: 0;
					}
				}
			}
		}
	}
}