@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.scrolling-text {
  * + & {
    margin-top: 5.6rem !important;
  }

  .scrolling-image {
    width: 100%;
    aspect-ratio: 10 / 6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    &:after {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      margin: auto;
      inset: 0;
    }
  }

  .half {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 4rem;
    z-index: 2;
    position: relative;
    justify-content: flex-start;

    &:first-child {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      justify-content: flex-end;
    }

    &:last-child {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    h3 {
      color: white;
      font-size: $font-56;
      line-height: 120%;
    }

    ul {
      padding: 0;
      margin: 0;
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        color: white;
        font-size: $font-56;
        line-height: 120%;
        font-family: $ff-title;
        list-style: none;
        opacity: 0.3;
        margin: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 40px;
        top: 0;

        &.center {
          opacity: 1;
          font-weight: 500;
          transform: scale(1.05);
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .scrolling-text {
    display: none;
    .scrolling-image {

      .half {
        width: 100%;
        padding: 2rem;

        h3,
        ul li {
          font-size: calc(#{$font-56} * 0.7); // Smaller text on mobile
        }
      }
    }
  }
}
