html.interface-interface-skeleton__html-container {
  min-height: 100%;
  font-size: 62.5%;
}

:where(.editor-styles-wrapper) {
  padding: 0 2rem !important;

  	.is-root-container {
		overflow-x: hidden;
	}

	.has-global-padding {
		padding-left: 1vw!important;
		padding-right: 1vw!important;

		> .alignfull {
			margin-right: 0!important;
			margin-left: 0!important;
		}
	}

  .wp-block-group {
    padding: 15px !important;
    border: 1px dashed #e0e0e0;
  }

  .wp-block-column {
    border: 1px dashed #e0e0e0;
  }

  .accordion {
    * {
      opacity: 1 !important;
      visibility: visible !important;
    }
    .acc-panel {
      max-height: 10000000px !important;
      opacity: 1;
      height: auto !important;
      visibility: visible;

      > * {
        opacity: 1;
      }
    }
  }
}

.editor-visual-editor__post-title-wrapper {
  padding-left: 0 !important;
}

.editor-styles-wrapper {
  // extra styles
}
