.pl24 {
  padding-left: 2.4rem !important;
}

.mt32 {
  margin-top: 3.2rem !important;
}

.text300 {
  max-width: 300px;
}

.text420 {
  max-width: 420px;
}

.home-boxes-wrapper {
  background-image: url(../assets/images/theme/home-boxes-overlay.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  .home-boxes {
    margin-top: 8rem;
    .wp-block-column {
      padding: 4rem;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(40px);

      .wp-block-image {
        margin-bottom: 4rem;
      }

      h4 {
        margin: 0;
      }

      p {
        margin-top: 8px !important;
        font-size: $font-18;
      }

      .statistics {
        padding-left: 2.4rem;
        border-left: 1px solid rgba(white, 0.1);
      }

      .statistics__number,
      .statistics__number-small {
        color: white;
      }

      .statistics__number {
        font-size: $font-56;
      }

      .statistics__title {
        color: $off-white;
        font-size: $font-14;
        margin-top: 0 !important;
      }

      .statistics__number-small {
        margin-top: 8px;
        font-size: $font-16;
      }

      &:nth-child(1) {
        border-top: 4px solid $jade;
      }
      &:nth-child(2) {
        border-top: 4px solid $purple;
      }
      &:nth-child(3) {
        border-top: 4px solid $light-blue;
      }
    }
  }
}

.home-results-bg {
  background-image: url(../assets/images/theme/home-results-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-sustainability-bg {
  background-image: url(../assets/images/theme/home-sustainability-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.investors-bg {
  background-image: url(../assets/images/theme/investors-results-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wp-block-cover.risk-management {
  .wp-block-cover__image-background {
    filter: none !important;
    opacity: 1 !important;
    backdrop-filter: blur(50px);
  }
  .wp-block-cover__background {
    background-color: transparent !important;
  }

  .wp-block-columns:first-of-type {
    background: none;

    .wp-block-column {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      padding-left: 4rem;
    }
  }

  .wp-block-columns:last-of-type {
    padding: 11.5rem 3rem 4.5rem 3rem;
    .wp-block-column:first-child {
      border-left: 1px solid rgba(255, 255, 255, 0.10) !important;
    }
  }
}
