body.interim-login {
	background: linear-gradient(135deg, $secondary 0%, $secondary-3 100%); 

	h1 a {
		display: none!important;
	}
}

.login-action-login,
.login-action-lostpassword,
.login-action-rp,
.login-action-checkemail {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: $primary;
	background: linear-gradient(135deg, $secondary 0%, $secondary-3 100%); 


	#login {
		width: 420px;
		padding: 50px 40px 50px 40px;
		background: $primary;
		border-radius: 3px;
		box-shadow: 0 5px 5px 0 rgba(255,255,255, .15);

		h1 {

			a {
				width: 200px;
				height: 55px;
				margin-bottom: 65px;
				padding-bottom: 0;
				background-size: contain;
			} // a

		} // h1

	} // login

	form {
		margin: 0;
		padding: 0;
		background: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;

		label {
            text-transform: none;
			padding-bottom: 3px;
			color: white;
		} // label

		input {
			border: 1px solid rgba(0,0,0, .35);
			border-radius: 0;
			transition: all .2s ease-in-out;

			&:active,
			&:focus {
				border-color: $secondary;
				outline: none!important;
				box-shadow: none!important;
			}

			&.button {
                display: inline-flex;
                max-width: 100px;
				@include button;
				font-size: $font-16;
				border: none;
				border-radius: 0;

				&:hover {
					background: darken($secondary, 2%);
					color: $primary;
				}
			} // button

		} // input

		.dashicons {
			color: $primary;
			transition: color .2s ease-in-out;

			&:hover,
			&:active,
			&:focus {
				color: $secondary;
			}
		} // dashicons

        .forgetmenot {
            margin-top: 5px;
        }

		p.submit {
			margin-top: 3rem !important;

			input[type="submit"] {
				border-radius: 4px;
				min-height: 45px;
			}
		}

	} // form

	#nav {
		text-align: center;
		margin-top: 40px;

		a {
			color: white;

			&:hover,
			&:active,
			&:focus {
				color: $secondary;
				text-decoration: underline;
			}
		}
	}

	.privacy-policy-page-link,
	.language-switcher,
	#backtoblog {
		display: none;
	}

	#login_error,
	.message,  
	.success {
		font-size: 1.4rem;
        border: none;

        a {
            text-decoration: underline;
            color: $purple;

            &:hover {
                color: $primary;
            }
        }
	}
    
}

.login-action-lostpassword {
    form {
        input {
            &.button {
                max-width: 100%;
            }
        }
    }

    #nav {
        a {
            &.wp-login-log-in {
                font-weight: 600;
            }
        }
    }
    
}


