// single post
.single {
    #content {
        .btn {
            @include button;
            margin-top: 3ch;
        }
    }
}

// post : pagination
.pagination {
    width: 100%;
    margin-top: $space-l;

    .page-numbers {
        font-size: 1.6rem;
        font-weight: 500;
        margin: 0 4px 0 0;
        padding: 8px 15px;
        background: $secondary-2;
        color: $primary;
        transition: color $speed $ease, background $speed $ease;

        &.current,
        &:hover,
        &:active,
        &:focus {
            background: $primary;
            color: #fff;
        }
    }
}