@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

[x-cloak] {
  display: none !important;
}

.documents-filter {
  .wp-block-button {
    margin-top: 4rem;

    .wp-block-button__link {
      &:before,
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}

// filters
.documents-filter-controls {
  margin: 0 0 $space-m 0;

  .inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.6rem;
  }

  .posts-filter-label {
    font-size: $font-16;
    color: $primary;
  }

  input {
    height: 4.2rem;
    width: 100%;
    font-size: $font-14;
    padding: 0 40px 0 2rem;
    color: $primary;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%23DB3553' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='m14.822 15.134-3.378-3.378m0 0a6.222 6.222 0 1 0-8.799-8.8 6.222 6.222 0 0 0 8.8 8.8Z'/%3E%3C/svg%3E");
    background-position: calc(100% - 2rem) 50%;
    background-repeat: no-repeat;
    border: 1px solid $primary;
    border-radius: 30rem;
    transition: all $speed $cb;

    &:focus,
    &:active {
      border: 1px solid $primary;
      outline: none;
    }
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $primary;
    font-size: $font-14;
    gap: 1rem;

    ul {
      display: none;
      padding: 1.2rem 1.6rem;
      border-radius: 88px;
      background: $secondary-3;
      margin: 0;
      gap: 8px;

      li {
        list-style: none;
        padding: 0 16px;
        border-radius: 40px;
        font-size: $font-14;
        margin-bottom: 0;
        text-align: center;
        transition: background $speed $ease, color $speed $ease;

        &.active {
          background: $primary !important;
          color: white;
        }

        &:hover {
          cursor: pointer;
          background: #0100351a;
        }
      }
    }

    .tab-select {
      width: 100%;
      padding: 1.3rem 1.6rem;
      font-size: $font-14;
      color: $primary;
      border: 1px solid rgba($primary, 0.1);
      border-radius: 4px;
      background-color: $white;
      appearance: none;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4 6L8 10L12 6" stroke="%238F8A72" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-repeat: no-repeat;
      background-position: calc(100% - 1.3rem) center;
      background-size: 18px;

      &:focus {
        border-color: $secondary;
        outline: none;
      }
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      gap: 4rem;

      .tab-select {
        display: none;
      }

      ul {
        display: flex;
      }
    }

    @media (min-width: 1100px) {
      flex-direction: row;
      align-items: center;
    }
  }

  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font-14;
    gap: 1rem;
    color: $primary;

    button {
      position: relative;
      width: 100%;
      height: 5rem;
      font-size: $font-14;
      padding: 1.6rem;
      color: $primary;
      background-color: $secondary-3;
      transition: border $speed $ease;

      span {
        display: block;
        line-height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
        overflow: hidden;
        font-size: $font-14;
      }

      &:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M4 6.31641L8 10.3164L12 6.31641" stroke="%238F8A72" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: calc(50% - 8px);
        right: 2rem;
        transition: transform $speed $ease;
      }

      &:focus,
      &:active {
        //border: 1px solid $secondary;
        outline: none;
      }

      &:focus {
        &:after {
          transform: scaleY(-1);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .dropdown-menu {
      width: 100%;
      min-width: 180px;
      font-size: $font-15;
      font-weight: 500;
      list-style: none;
      margin: 0;
      padding: 1.5rem 0;
      color: $primary;
      background: $secondary-3;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(black, 0.1);
      position: absolute;
      z-index: 5;
      top: 90px;

      li {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;
        padding: 0.6rem 2rem;
        border-radius: 3px;
        position: relative;
        transition: color $speed $cb, gap $speed $cb;

        &:before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          margin-top: 0.7ch;
          mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M4 6.31641L8 10.3164L12 6.31641" stroke="%238F8A72" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          background: $orange;
          background-size: cover;
          transition: background $speed $cb;
          transform: rotate(270deg);
        }

        &:hover,
        &:active,
        &:focus {
          gap: 1.25rem;
          cursor: pointer;

          &:before {
            background: $orange;
          }
        }
      }
    }

    &.type {
      .dropdown-menu {
        min-width: 320px;
      }
    }

    @media (min-width: 1024px) {
      gap: 4rem;

      button {
        border-radius: 88px;
        padding: 1.2rem 1.6rem;
        height: 4.2rem;

        span {
          text-align: center;
        }
      }

      .dropdown-menu {
        top: 65px;
      }
    }

    @media (min-width: 1110px) {
      flex-direction: row;
      align-items: center;
      gap: 1.6rem;
    }
  }

  .filter-reset {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: center;
    font-size: $font-18;
    line-height: 1;
    color: $primary;
    cursor: pointer;
    transition: color $speed $ease;

    svg {
      margin-top: -2px;
      transition: transform $speed $ease;
    }

    &:hover,
    &:focus-visible {
      color: $orange;

      svg {
        transform: scale(1.1);
      }
    }
  }

  @media (min-width: 768px) {
    .inner {
      gap: 1rem;

      .filter-reset {
        margin-left: auto;
      }
    }
  } // 750

  @media (min-width: 1024px) {
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    z-index: 9;

    .inner {
      gap: 4rem;
      justify-content: space-between;
      width: 100%;

      > div {
        width: 100%;
        flex-direction: row;

        &.year {
          width: 250px;

          span {
            min-width: fit-content;
          }
        }
      }
    }
  } // 1024

  @media (min-width: 1100px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    z-index: 9;

    .inner {
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      gap: 1rem;

      > div {
        width: calc(75% - 0.8rem);

        &.year {
          width: 210px;
          button {
            width: 115px;
          }
        }

        &.search-bar {
          width: calc(100% - 450px);
          max-width: 430px;
        }
      }
    }
  } // 1100
}

// file list
.is-style-fancy-borders {
  .documents-list {
    .document-item {
      &:first-of-type {
        .file {
          border-top: 1px solid rgba(1, 0, 53, 0.1);
        }
      }

      &:last-of-type {
        .file {
          border-bottom: none;
        }
      }

      .file {
        .icon {
          color: $primary;
          font-size: $font-18;
        }

        @media (max-width: 1023px) {
          .icon {
            margin-bottom: 1rem;
            width: 100%;
          }
        }

        @media (min-width: 1024px) {
          .date {
            padding: 0 4rem;
            border-left: 1px solid rgba(1, 0, 53, 0.1);
          }

          .icon {
            padding: 0 2rem;

            &:last-child {
              border-right: 1px solid rgba(1, 0, 53, 0.1);
            }
          }
        }
      }
    }
  }
}

.documents-list {
  .document-item {
    &:last-of-type {
      .file {
        border-bottom: none;
      }
    }
  }

  .file {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 2rem 0;
    border-bottom: 1px solid rgba($primary, 0.1);

    span {
      display: block;

      &.date {
        color: $primary;
      }

      &.format,
      &.size {
        text-transform: uppercase;
        color: $primary;
      }

      &.name {
        color: $primary;
        transition: color $speed $cb;
        font-size: $font-18;

        &:hover,
        &:active &:focus {
          color: $primary;
          //text-decoration-color: $sage;
        }
      } // name

      &.type {
        display: inline-flex;
        font-size: 1.3rem;
        line-height: 1;
        margin: 1.6rem 0 0 0;
        padding: 0.8rem 1rem;
        color: $primary;
        background: rgba(41, 41, 39, 0.1);
        border-radius: 3rem;
      }
    } // span

    a.icon {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $primary;
      font-size: $font-18;
      transition: all $speed $cb;

      svg {
        width: 32px;
        height: 32px;
        min-width: 32px;
        transition: all $speed $cb;

        circle,
        path {
          transition: all $speed $cb;
        }
      }

      &:hover {
        svg {
          circle {
            fill: $orange;
          }
          path {
            stroke: white;
          }
        }
      }
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    @media (max-width: 1023px) {
      padding: 1.5rem;
      position: relative;

      span {
        display: block;

        &.date {
          width: 100%;
          font-size: $font-14;
        }

        &.title {
          width: 100%;
          padding: 0.8ch 0 0.9ch 0;
        }

        &.icon {
          display: none;
        }

        &.format,
        &.size {
          font-size: $font-14;
          padding-right: 2ch;
          position: absolute;
          top: 1.5rem;
          right: 0.2rem;
        }

        &.size {
          text-align: right;
          right: 3.8rem;
        }
      }
    } // 781

    @media (min-width: 1024px) {
      span {
        flex: 1;

        &.date {
          flex: 0 0 240px;
          font-size: 1.4rem;
          padding-top: 0.2rem;
        }

        &.size {
          flex: 1.4;
          font-size: 1.4rem;
          text-align: right;
          padding-top: 0.9rem;
        }

        &.title {
          flex: 7;
          padding-right: 2ch;
        }

        &.icon {
          flex: 1.5;
          gap: 1.6rem;
          text-align: right;
        }

        &.format {
          display: none;
        }
      }
    } // 800

    @media (min-width: 1100px) {
      padding: 2.4rem 0;

      span {
        &.date,
        &.size {
          font-size: $font-18;
        }
        &.title {
          flex: 8;
        }
      }
    } // 1100
  } // file

  .document-item {
    // &:nth-child(even) {
    //     .file {
    //         background: rgba($sage, .1);
    //         border-radius: $br;
    //     }
    // }
  }
}
