.wp-block-button .wp-block-button__link {
  display: inline-flex;
  align-items: center;
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-18);
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  color: #010035;
  background: #F3E8D7;
  border-radius: 88px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.wp-block-button .wp-block-button__link:before {
  content: "";
  -webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.9355" r="15.2" stroke="%23FF8A45" stroke-width="1.6"/><path d="M11.0957 16.6191H20.429" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.9521L20.4284 16.6188L15.7617 21.2855" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.9355" r="15.2" stroke="%23FF8A45" stroke-width="1.6"/><path d="M11.0957 16.6191H20.429" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.9521L20.4284 16.6188L15.7617 21.2855" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: #FF8A45;
  margin-right: 16px;
}
.wp-block-button .wp-block-button__link:hover:before, .wp-block-button .wp-block-button__link:active:before, .wp-block-button .wp-block-button__link:focus:before {
  -webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.5" r="16" fill="%23FF8A45"/><path d="M11.095 16.1836H20.4283" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.5176L20.4284 16.1842L15.7617 20.8509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.5" r="16" fill="%23FF8A45"/><path d="M11.095 16.1836H20.4283" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.5176L20.4284 16.1842L15.7617 20.8509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

* + .wp-block-buttons {
  margin-top: 3ch;
}

.wp-block-buttons + .wp-block-group,
.wp-block-buttons + .wp-block-columns {
  margin-top: var(--wp--preset--spacing--m);
}/*# sourceMappingURL=button.css.map */