.wp-block-button .wp-block-button__link {
  display: inline-flex;
  align-items: center;
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-18);
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px 20px 65px;
  color: #010035;
  background: #F3E8D7;
  border-radius: 88px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.wp-block-button .wp-block-button__link:before, .wp-block-button .wp-block-button__link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  display: inline-block;
  flex-shrink: 0;
  transition: opacity 0.25s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wp-block-button .wp-block-button__link:before {
  content: "";
  background-image: url(../assets/images/theme/icon-arrow-right.svg);
  opacity: 1;
  z-index: 1;
}
.wp-block-button .wp-block-button__link:after {
  content: "";
  background-image: url(../assets/images/theme/icon-arrow-right-fill.svg);
  opacity: 0;
  z-index: 2;
}
.wp-block-button .wp-block-button__link:hover:after, .wp-block-button .wp-block-button__link:active:after, .wp-block-button .wp-block-button__link:focus:after {
  opacity: 1;
}
.wp-block-button .wp-block-button__link:hover:before, .wp-block-button .wp-block-button__link:active:before, .wp-block-button .wp-block-button__link:focus:before {
  opacity: 0;
}
.wp-block-button.is-style-bg-white .wp-block-button__link {
  background-color: white;
}
.wp-block-button.is-style-plain .wp-block-button__link {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  padding-left: 50px;
}
.wp-block-button.is-style-plain .wp-block-button__link:before, .wp-block-button.is-style-plain .wp-block-button__link:after {
  left: 0;
}
.wp-block-button.is-style-plain-white .wp-block-button__link {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  color: white;
  padding-left: 50px;
}
.wp-block-button.is-style-plain-white .wp-block-button__link:before, .wp-block-button.is-style-plain-white .wp-block-button__link:after {
  left: 0;
}
.wp-block-button.is-style-plain-white .wp-block-button__link:before {
  background-image: url(../assets/images/theme/icon-arrow-right-white.svg);
}
.wp-block-button.is-style-plain-white .wp-block-button__link:after {
  background-image: url(../assets/images/theme/icon-arrow-right-white-fill.svg);
}
.wp-block-button.is-style-download .wp-block-button__link:before {
  background-image: url(../assets/images/theme/icon-download.svg);
}
.wp-block-button.is-style-download .wp-block-button__link:after {
  background-image: url(../assets/images/theme/icon-download-fill.svg);
}
.wp-block-button.is-style-download-white .wp-block-button__link {
  background: white;
}
.wp-block-button.is-style-download-white .wp-block-button__link:before {
  background-image: url(../assets/images/theme/icon-download.svg);
}
.wp-block-button.is-style-download-white .wp-block-button__link:after {
  background-image: url(../assets/images/theme/icon-download-fill.svg);
}

* + .wp-block-buttons {
  margin-top: 4rem !important;
}

.wp-block-buttons + .wp-block-group,
.wp-block-buttons + .wp-block-columns {
  margin-top: var(--wp--preset--spacing--m);
}/*# sourceMappingURL=button.css.map */