@import "../abstracts/vars";
@import "../abstracts/mixins";

.wp-block-button {
	.wp-block-button__link {
		@include button;
	}

	&.is-style-bg-white {
		.wp-block-button__link {
			background-color: white;
		}
	}
}

* + .wp-block-buttons {
	margin-top: 4rem !important;
}

.wp-block-buttons {
	+ .wp-block-group,
	+ .wp-block-columns {
		margin-top: $space-m;
	}
}

