@import "../abstracts/vars";
@import "../abstracts/mixins";

.wp-block-button {
  .wp-block-button__link {
    @include button;
  }

  &.is-style-bg-white {
    .wp-block-button__link {
      background-color: white;
    }
  }

  &.is-style-plain {
    .wp-block-button__link {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0;
      padding-left: 50px;

      &:before,
      &:after {
        left: 0;
      }
    }
  }

  &.is-style-plain-white {
    .wp-block-button__link {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0;
      color: white;
      padding-left: 50px;

      &:before,
      &:after {
        left: 0;
      }

      &:before {
        background-image: url(../assets/images/theme/icon-arrow-right-white.svg);
      }

      &:after {
        background-image: url(../assets/images/theme/icon-arrow-right-white-fill.svg);
      }
    }
  }

  &.is-style-download {
    .wp-block-button__link {
      &:before {
        background-image: url(../assets/images/theme/icon-download.svg);
      }

      &:after {
        background-image: url(../assets/images/theme/icon-download-fill.svg);
      }
    }
  }

  &.is-style-download-white {
    .wp-block-button__link {
      background: white;

      &:before {
        background-image: url(../assets/images/theme/icon-download.svg);
      }

      &:after {
        background-image: url(../assets/images/theme/icon-download-fill.svg);
      }
    }
  }

    &.is-style-plus {
    .wp-block-button__link {

      &:before {
        background-image: url(../assets/images/theme/acc-plus.svg);
      }

      &:after {
        background-image: url(../assets/images/theme/acc-plus-fill.svg);
      }
    }
  }
}

* + .wp-block-buttons {
  margin-top: 4rem !important;
}

.wp-block-buttons {
  + .wp-block-group,
  + .wp-block-columns {
    margin-top: $space-m;
  }

  &.is-style-mt24 {
    margin-top: 2.4rem !important;
  }

  &.is-style-border-top {
    border-top: 1px solid rgba($primary, 0.1);
  }

    &.is-style-border-top-light {
    border-top: 1px solid rgba(white, 0.1);
  }
}
