@import "../abstracts/vars";

// column
.wp-block-column {
  &.has-background,
  &.has-border-color {
    padding: $space-m;
  }

  &.is-style-border-left {
    border-left: 1px solid rgba($primary, 0.1);
    padding-left: 4rem;
  }

  &.is-style-border-top {
    border-top: 1px solid rgba($primary, 0.1);
    padding-top: 4rem;
  }

  &.is-style-border-left-light {
    border-left: 1px solid rgba(white, 0.1);
    padding-left: 4rem;
  }

  @media (min-width: 782px) {
    &.reorder {
      order: -1;
    }

    &.is-style-button-bottom {
      display: flex;
      flex-direction: column;

      .wp-block-buttons,
      .link-group {
        margin-top: auto !important;
        padding-top: 2rem;
      }
    }
  }

  &.is-style-bg-blur {
    backdrop-filter: blur(40px);
  }

  &.is-style-text-center {
    position: relative;

    p {
      position: absolute;
      left: 4rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.br8 {
    border-radius: 8px;
  }

  &.br4 {
    border-radius: 4px;
  }

  &.is-style-justify-between {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 782px) {
    &.custom-border-left {
      position: relative;

      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background-color: $border;
        position: absolute;
        left: -2rem;
        top: 0;
      }
    }

    &.custom-border-dark-left {
      position: relative;

      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background-color: $border-dark;
        position: absolute;
        left: -2rem;
        top: 0;
      }
    }
  }

  &.is-style-radius-4 {
    border-radius: 4px;
  }

  &.is-style-radius-8 {
    border-radius: 8px;
  }
}

// columns
.wp-block-columns {
  &.is-style-border-bottom {
    border-bottom: 1px solid rgba($primary, 0.1);
    padding-bottom: 5.5rem;
  }

  &.is-style-border-top {
    border-top: 1px solid rgba($primary, 0.1);
    padding-top: 5.5rem;
  }

  @media (min-width: 1024px) {
    &.is-style-width-half {
      max-width: 720px;
      width: 55%;
    }
  }

  &.is-style-max-width,
  &.is-style-maxwidth {
    max-width: 890px;
  }

  &.is-style-bigmaxwidth {
    max-width: 1200px;
  }

  &.is-style-bg-blur {
    backdrop-filter: blur(40px);
  }

  &.is-style-no-gap {
    gap: 0;
  }

  &.max-width-40 {
    max-width: 40rem;
    margin: 0 !important;
  }

  &.justify-right {
    justify-self: flex-end;
  }

  &.is-style-sm-gap {
    gap: $space-s;

    + .is-style-sm-gap {
      margin-top: $space-s;
    }
  }

  &.is-style-md-gap {
    gap: $space-n;

    + .is-style-md-gap {
      margin-top: $space-n;
    }
  }

  &.is-style-gap-40 {
    gap: 4rem;
  }

  &.is-style-xl-gap {
    gap: 6rem;

    @media (min-width: 1024px) {
      gap: 15.7rem;
    }
  }

  &.has-background {
    padding: $space-s;
  }

  @media (min-width: 782px) and (max-width: 1023px) {
    &.col-1-md {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) and (max-width: 1200px) {
    &.col-1-lg {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    &.is-style-lg-gap {
      gap: $space-m;
    }
  }

  + .wp-block-quote {
    margin-top: $space-n;
  }

  @media (min-width: 1025px) {
    &.large-number {
      position: relative;

      &::before {
        content: "";
        display: block;
        color: #cbd8ff;
        text-align: right;
        font-family: $ff-title;
        font-size: $font-200;
        font-style: normal;
        font-weight: 300;
        line-height: 110%;
        position: absolute;
        right: 3.2rem;
        top: 0;
        transform: translateY(-50%);
      }
    }

    &.number1::before {
      content: "01";
    }

    &.number2::before {
      content: "02";
    }

    &.number3::before {
      content: "03";
    }
  }
}
