.wp-block-column.has-background, .wp-block-column.has-border-color {
  padding: var(--wp--preset--spacing--m);
}
.wp-block-column.is-style-border-left {
  border-left: 1px solid rgba(1, 0, 53, 0.1);
  padding-left: 4rem;
}
@media (min-width: 782px) {
  .wp-block-column.reorder {
    order: -1;
  }
  .wp-block-column.is-style-btn-bottom {
    display: flex;
    flex-direction: column;
  }
  .wp-block-column.is-style-btn-bottom .wp-block-buttons {
    margin-top: auto;
    padding-top: 2rem;
  }
}
.wp-block-column.is-style-bg-blur {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.wp-block-column.is-style-text-center {
  position: relative;
}
.wp-block-column.is-style-text-center p {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
}
.wp-block-column.br8 {
  border-radius: 8px;
}
.wp-block-column.br4 {
  border-radius: 4px;
}
.wp-block-column.is-style-justify-between {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 782px) {
  .wp-block-column.custom-border-left {
    position: relative;
  }
  .wp-block-column.custom-border-left::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: -2rem;
    top: 0;
  }
  .wp-block-column.custom-border-dark-left {
    position: relative;
  }
  .wp-block-column.custom-border-dark-left::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgb(203, 209, 227);
    position: absolute;
    left: -2rem;
    top: 0;
  }
}
.wp-block-column.is-style-radius-4 {
  border-radius: 4px;
}
.wp-block-column.is-style-radius-8 {
  border-radius: 8px;
}

.wp-block-columns.is-style-border-bottom {
  border-bottom: 1px solid rgba(1, 0, 53, 0.1);
  padding-bottom: 5.5rem;
}
.wp-block-columns.is-style-width-half {
  max-width: 720px;
  width: 55%;
}
.wp-block-columns.is-style-max-width, .wp-block-columns.is-style-maxwidth {
  max-width: 890px;
}
.wp-block-columns.is-style-bg-blur {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.wp-block-columns.is-style-no-gap {
  gap: 0;
}
.wp-block-columns.max-width-40 {
  max-width: 40rem;
  margin: 0 !important;
}
.wp-block-columns.justify-right {
  justify-self: flex-end;
}
.wp-block-columns.is-style-sm-gap {
  gap: var(--wp--preset--spacing--small);
}
.wp-block-columns.is-style-sm-gap + .is-style-sm-gap {
  margin-top: var(--wp--preset--spacing--small);
}
.wp-block-columns.is-style-md-gap {
  gap: var(--wp--preset--spacing--normal);
}
.wp-block-columns.is-style-md-gap + .is-style-md-gap {
  margin-top: var(--wp--preset--spacing--normal);
}
.wp-block-columns.is-style-gap-40 {
  gap: 4rem;
}
.wp-block-columns.is-style-xl-gap {
  gap: 15.7rem;
}
.wp-block-columns.has-background {
  padding: var(--wp--preset--spacing--small);
}
@media (min-width: 782px) and (max-width: 1023px) {
  .wp-block-columns.col-1-md {
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .wp-block-columns.col-1-lg {
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .wp-block-columns.is-style-lg-gap {
    gap: var(--wp--preset--spacing--m);
  }
}
.wp-block-columns + .wp-block-quote {
  margin-top: var(--wp--preset--spacing--normal);
}
@media (min-width: 1025px) {
  .wp-block-columns.large-number {
    position: relative;
  }
  .wp-block-columns.large-number::before {
    content: "";
    display: block;
    color: #cbd8ff;
    text-align: right;
    font-family: var(--wp--preset--font-family--secondary);
    font-size: var(--wp--preset--font-size--font-200);
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    position: absolute;
    right: 3.2rem;
    top: 0;
    transform: translateY(-50%);
  }
  .wp-block-columns.number1::before {
    content: "01";
  }
  .wp-block-columns.number2::before {
    content: "02";
  }
  .wp-block-columns.number3::before {
    content: "03";
  }
}/*# sourceMappingURL=columns.css.map */