@import "../abstracts/vars";

// column
.wp-block-column {
  &.has-background,
  &.has-border-color {
    padding: $space-m;
  }

  &.is-style-border-left {
    border-left: 1px solid rgba($primary, 0.1);
    padding-left: 4rem;
  }

  @media (min-width: 782px) {
    &.reorder {
      order: -1;
    }

    &.is-style-btn-bottom {
      display: flex;
      flex-direction: column;

      .wp-block-buttons {
        margin-top: auto;
        padding-top: 2rem;
      }
    }
  }

  &.is-style-bg-blur { 
    backdrop-filter: blur(40px);
  }

   &.br8 {
    border-radius: 8px;
  }

  @media screen and (min-width: 782px) {
    &.custom-border-left {
      position: relative;

      &::before {
        content:"";
        display: block;
        height: 100%;
        width: 1px;
        background-color: $border;
        background-color: red;
        position: absolute;
        left: -2rem;
        top:0;
      }
    }
  }
  
}

// columns
.wp-block-columns {

  &.is-style-border-bottom {
    border-bottom: 1px solid rgba($primary, 0.1);
    padding-bottom: 5.5rem;
  }

  &.is-style-width-half {
    max-width: 720px;
    width: 55%;  
  }

  &.is-style-max-width,
  &.is-style-maxwidth {
    max-width: 890px;
  }

  &.is-style-bg-blur { 
    backdrop-filter: blur(40px);
  }

  &.is-style-no-gap { 
    gap: 0;
  }

  &.max-width-40 {
    max-width: 40rem;
    margin: 0 !important;
  }

  &.justify-right {
     justify-self: flex-end;
  }

  &.is-style-sm-gap {
    gap: $space-s;

    + .is-style-sm-gap {
      margin-top: $space-s;
    }
  }

    &.is-style-md-gap {
    gap: $space-n;

    + .is-style-md-gap {
      margin-top: $space-n;
    }
  }

  &.is-style-xl-gap {
    gap: 15.7rem;
  }

  &.has-background {
    padding: $space-s;
  }

  @media (min-width: 782px) and (max-width: 1023px) {
    &.col-1-md {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) and (max-width: 1200px) {
    &.col-1-lg {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    &.is-style-lg-gap {
      gap: $space-m;
    }
  }

  + .wp-block-quote {
    margin-top: $space-n;
  }

  @media (min-width: 1025px) {
    &.large-number {
      position: relative;
 
      &::before {
        content:"";
        display: block;
        color: #CBD8FF;
        text-align: right;
        font-family: $ff-title;
        font-size: $font-200;
        font-style: normal;
        font-weight: 300;
        line-height: 110%; 
        position: absolute;
        right: 3.2rem;
        top: 0;
        transform: translateY(-50%);
      }
    }

    &.number1::before {
      content: "01";
    }

    &.number2::before {
      content: "02"; 
    }

    &.number3::before {
      content: "03";
    }
  }
}
