@import "../abstracts/vars";
@import "../abstracts/mixins";

.wp-block-cover {
  padding-left: 6vw;
  padding-right: 6vw;

  &.is-style-blue-cta {
    background-color: #cbd8ff;
    background-image: url(../assets/images/theme/blue-cta-mask.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 5.5rem;
   
    .wp-block-cover__background {
      background-color: transparent !important;
    }

    .wp-block-cover__inner-container {
      max-width: 580px;
      h2 {
        color: $primary;
      }
      p {
        color: #010035cc;
        font-size: $font-18;
      }
    }
  }

  &.is-style-blur {
    & > .wp-block-cover__image-background {
      filter: blur(50px) !important;
    }

    .wp-block-cover__background {
      opacity: 0.6 !important;
    }

    .wp-block-columns {
      margin: 4rem;
      padding: 8rem;
      background: rgba(255,255,255,0.05);
      border-radius: 4px;
    }

    p {
      color: rgba(white, 0.6);
    }
  }
}
