@import "../abstracts/vars";
@import "../abstracts/mixins";

.wp-block-cover {
  padding-left: 6vw;
  padding-right: 6vw;

  &.is-style-blue-cta,
  &.is-style-blue-cta-slim,
  &.is-style-shiny-cta-slim {
    background-color: #cbd8ff;
    background-image: url(../assets/images/theme/blue-cta-mask.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 5.6rem;

    .wp-block-cover__background {
      background-color: transparent !important;
    }

    .wp-block-cover__inner-container {
      max-width: 580px;
      h2 {
        color: $primary;
      }
      p {
        color: #010035cc;
        font-size: $font-18;
      }
    }
  }

  &.is-style-shiny-cta-slim {
    min-height: 350px;
    padding: 4rem;
    background-size: cover;
    background-image: url(../assets/images/theme/shiny-cta-mask.png);

    .wp-block-cover__inner-container {
      h2 {
        font-size: $font-32;
        line-height: 130%;
        color: white;
      }
      p {
        margin-top: 1.6rem !important;
        color: rgba(white, 0.6);
        font-size: $font-20;
      }

      .wp-block-buttons {
        margin-top: 5.6rem !important;
      }
    }
  }

  &.is-style-blue-cta-slim {
    min-height: 280px;

    .wp-block-cover__inner-container {
      h2 {
        font-size: $font-40;
        line-height: 130%;
      }
      p {
        margin-top: 1.6rem !important;
      }

      .wp-block-buttons {
        margin-top: 3.2rem !important;
      }
    }
  }

  &.is-style-blur {
    & > .wp-block-cover__image-background {
      filter: blur(50px) !important;
    }

    .wp-block-cover__background {
      opacity: 0.6 !important;
    }

    .wp-block-columns {
      margin: 4rem;
      padding: 8rem;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 4px;
    }

    p {
      color: rgba(white, 0.6);
    }
  }
}
