@import "../abstracts/vars";
@import "../abstracts/mixins";

.wp-block-heading {
  @media (min-width: 1024px) {
    + p {
      margin-top: 4rem !important;
    }
  }

  + p.is-style-no-margin {
    margin: 0rem !important;
  }

  + p.mt0 {
    margin-top: 0rem !important;
  }

  + p.mt-24 {
    margin-top: 2.4rem !important;
  }

  + p.mt-16 {
    margin-top: 1.6rem !important;
  }

  &.is-style-large-heading {
    font-size: $font-72;
    line-height: 110%;

    em {
      display: block;
      font-style: normal;
      opacity: 0.4;
    }
  }

  &.is-style-xlarge-heading {
    font-size: $font-100;
    line-height: 110%;

    em {
      display: block;
      font-style: normal;
      opacity: 0.4;
    }
  }

  &.is-style-border-bottom {
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba($primary, 0.1);
  }
}
