@import "../abstracts/vars";
@import "../abstracts/mixins";

.wp-block-heading {
    &.is-style-large-heading {
        font-size: $font-72;
        line-height: 110%;

        em {
            display: block;
            font-style: normal;
            opacity: 0.4;
        }
    }
}