@import "../abstracts/vars";
@import "../abstracts/mixins";

.is-style-intro.in-view span,
.is-style-introborder.in-view span {
  animation: waveColor 0.6s forwards;
}

p {
  &:empty {
    display: none;
  }

  &.is-style-maxwidth {
    max-width: 800px;
    text-align: center;
  }

  &.is-style-intro,
  &.is-style-introborder {
    font-size: $font-40;
    line-height: 130%;
    font-family: $ff-title;
    color: rgba($primary, 0.4);
    max-width: 890px;

    &.has-white-color {
      strong {
        color: rgba(white, 0.4);
      }
    }

    strong {
      font-weight: normal;
      color: $primary;
    }

    &.has-text-align-center {
      width: 96%;
      max-width: 96rem;
    }
  }

  &.is-style-introborder {
    padding-left: 2rem;
    border-left: 1px solid rgba($primary, 0.1);

    @media (min-width: 1024px) {
       padding-left: 4rem;
    }
  }

  &.is-style-transparent {
    opacity: 0.6;
  }

  &.is-style-mt16 {
    .wp-block-heading + & {
      margin-top: 1.6rem !important;
    }

    p + & {
      margin-top: 1.6rem !important;
    }
  }

  &.is-style-mt24 {
    .wp-block-heading + & {
      margin-top: 2.4rem !important;
    }

    p + & {
      margin-top: 2.4rem !important;
    }
  }

  &.is-style-mt32 {
    .wp-block-heading + & {
      margin-top: 3.2rem !important;
    }

    p + & {
      margin-top: 3.2rem !important;
    }
  }

  &.is-style-mt40 {
    .wp-block-heading + & {
      margin-top: 4rem !important;
    }

    p + & {
      margin-top: 4rem !important;
    }
  }

  &.is-style-section-intro {
    font-size: $font-22;
    line-height: 1.45;

    &.has-text-align-center {
      width: 96%;
      max-width: 70rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 1024px) {
    &.maxwidth {
      padding-right: 20%;
    }
  }

  + h2,
  + h3,
  + h4,
  + h5,
  + h6,
  + p,
  + .wp-block-image {
    margin-top: 2ch !important;
  }

  + .wp-block-group,
  + .wp-block-columns {
    margin-top: $space-m;
  }
}
