@import "../abstracts/vars";

.wp-block-quote {
  border-left: 1px solid rgba($primary, 0.2);
  padding-left: 4rem;
  font-family: $ff-title;
  color: $primary;
  font-size: $font-24;

  &:before {
    content: "";
    display: block;
    width: 43px;
    height: 41px;
    background: $primary;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="43" viewBox="0 0 44 43" fill="none"><path d="M19.04 8.23591C10.24 10.1559 5.12 15.2759 4.48 25.0359H13.76V42.3159H0V26.9559C0 12.7159 6.08 4.07591 19.04 0.715912V8.23591ZM24 42.3159V26.9559C24 12.7159 30.08 4.07591 43.04 0.715912V8.23591C34.24 10.1559 29.12 15.2759 28.48 25.0359H37.76V42.3159H24Z" fill="%23010035"/></svg>');
    mask-size: cover;
    margin: 0 0 2.4rem 0;
  }

  cite {
    color: $primary;
    font-size: $font-18;
    font-family: $ff-body;
    line-height: 160%;

    strong {
      font-weight: 400;
      color: rgba($primary, 0.6);
      display: block;
    }
  }

  &.has-background {
    padding: 4rem;
    border-radius: 4px;
  }

  &.is-style-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 0;
    text-align: center;

    &:before {
      width: 30px;
      height: 29px;
    }

    p {
      font-size: $font-40;
      line-height: 130%;
      max-width: 500px;
      text-align: center;
    }

    cite {
      font-size: $font-20;
    }
  }

  &.is-style-dark-mode {
      border-left: 1px solid rgba(white, 0.2);

    .wp-block-heading {
      color: white;
    }

    &:before {
      background: white;
    }

    cite {
      color: white;

      strong {
        opacity: 0.6;
        color: white;
      }
    }
  }

  @media (min-width: 1024px) {
    position: relative;
  }
}
