@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.lmn-icon-list {
    display: flex;
    flex-direction: row;
	gap: 0;
    flex-wrap: wrap;

	@media(max-width:600px) {
		flex-direction: column;
	}

	.list-item {
		width: 50%;
		display: flex;
		gap: 40px;
   		align-items: center;
		padding: 3.2rem 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		position:relative;

		@media(max-width:600px) {
			width: 100%;
		}

		&:nth-child(even):before {
			content:"";
			display: block;
			width: 1px;
			height: 50%;
			background: rgba(255, 255, 255, 0.1);
			position: absolute;
			left: 0;
			top: 0;
			transform: translateY(50%);
		}

		@media(min-width:601px) {
			&:nth-child(even) {
				padding-left:3.2rem;
			}
			&:nth-last-child(-n+2) {
				border-bottom: none;
			}
		}
		

		img {
			width: 22px;
			height: 22px;
		}

		p {
			color:white;
			line-height: 1;
			margin: 0;
		}
	}
}

