@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.alternative-boxes {
  margin: 0;
  * + & {
    //margin-top: 4rem !important;
  }

  .alternative-box {
    display: flex;
    margin-bottom: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid rgba($primary, 0.1);

    .numbers {
      display: none;
      padding-right: 4rem;
      margin-right: 4rem;
      border-right: 1px solid rgba($primary, 0.1);
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: 100%;

      .alt-box-image {
        width: 100%;
        height: 231px;
        flex: 0 0 auto;
        box-sizing: content-box;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          display: block;
          border-radius: 4px;
        }
      }

      .content {
        flex-grow: 1;
        h3 {
          font-size: $font-56;
          margin-bottom: 2.4rem;
        }

        p {
          max-width: 620px;
          font-size: $font-18;
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 1023px) {
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    @media (min-width: 1024px) {
      margin-bottom: 5.6rem;
      padding-bottom: 5.6rem;

      .numbers {
        display: block;
      }

      .content-wrapper {
        flex-direction: row;

        .alt-box-image {
          width: 289px;
        }
      }

      &:first-child {
        border-top: 1px solid rgba($primary, 0.1);
        margin-top: 5.6rem;
        padding-top: 5.6rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        .content-wrapper {
          flex-direction: row-reverse;

          .alt-box-image {
            padding-left: 4rem;
            border-left: 1px solid rgba($primary, 0.1);
          }
        }
      }

      &:nth-child(odd) {
        .content-wrapper {
          .alt-box-image {
            padding-right: 4rem;
            border-right: 1px solid rgba($primary, 0.1);
          }
        }
      }
    }
  }
}
