@import "../../../scss/abstracts/vars";

.accordion {
  margin-top: 0 !important;
  overflow: hidden;
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;

  + .accordion {
    margin-top: 1.6rem !important;
  }

  + *:not(.accordion) {
    margin-top: 2.5ch !important;
  }

  *:not(.accordion):not(.page-title) + & {
    margin-top: 3rem !important;
  }

  > input {
    display: none;

    + .acc-title {
      display: block;
      line-height: 160%;
      padding: 3rem 4rem;
      margin: 0;
      color: $primary;
      position: relative;
      transition: color $speed $ease;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4rem;
        margin: auto;
        transition: opacity $speed $ease;
      }

      &:before {
        background: url(../../../assets/images/theme/acc-plus.svg) no-repeat
          center / cover;
        opacity: 1;
      }

      &:after {
        background: url(../../../assets/images/theme/acc-plus-fill.svg)
          no-repeat center / cover;
        opacity: 0;
      }

      &:hover {
        //color: $secondary;
        cursor: pointer;

        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }

      span {
        display: block;
        width: calc(100% - 40px);
      }

      + .acc-panel {
        height: 0;
        visibility: hidden;
        padding: 0;
        border: 1px solid transparent;
        transition: visibility 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s,
          height 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s,
          padding 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s;

        > * {
          opacity: 0;
          transition: opacity 0.25s cubic-bezier(0.82, -0.04, 1, 1);
        }

        .wp-block-columns {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      } //panel
    } // title

    &:checked {
      + .acc-title {
        //color: $secondary;

        &:after {
          background: url(../../../assets/images/theme/acc-minus-fill.svg)
            no-repeat center / contain;
            opacity: 1;
        }

        + .acc-panel {
          height: auto;
          visibility: visible;
          padding: 0 4rem 3rem 4rem;

          > * {
            opacity: 1;
          }

          p {
            max-width: 1000px;
            font-size: $font-18;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    } // active/checked
  } //input
}
