@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.link-group {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba($primary, 0.1);
  margin-top: 4rem;
  padding-bottom: 2.4rem;
  gap: 2rem;

  &.is-style-simple {
    flex-direction: column;
    border-bottom: 0;
    border-top: 1px solid rgba($primary, 0.1);
    padding-bottom: 0;
    padding-top: 2.4rem;
    margin-bottom: 0;

    .link-group__title {
      p {
        color: $primary;
        font-size: $font-20;
      }
    }

    .link-group__list {
      padding: 0;
      .link-group__item {
        &:first-child {
          padding-left: 0;
          border-left: 0;
        }
        a {
          font-size: $font-16;
        }
      }
    }
  }

  &__title {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
      font-size: $font-18;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 0;

    @media (max-width: 1023px) {
      flex-wrap: wrap;

      li {
        width: 100%;
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (min-width: 1024px) {
      padding-left: 4rem;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    padding-left: 2.4rem;
    border-left: 1px solid rgba($primary, 0.1);
    flex-grow: 1;
    gap: 4rem;
    display: flex;
    padding-right: 4rem;

    &:last-child {
      padding-right: 0;
    }
  }

  svg {
    width: 24px;
    height: 24px;

    &.arrow-right {
      width: 32px;
      height: 32px;
    }
  }

  path,
  circle {
    transition: stroke $speed $cb;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    font-size: $font-20;
    font-weight: 400;
    color: $primary;
    transition: color $speed $cb;
    font-size: $font-18;

    &:hover,
    &:active,
    &:focus {
      //color: $purple;

      circle {
        fill: $orange;
      }

      path {
        stroke: white;
      }
    }
  }
}
