[x-cloak] {
  display: none !important;
}

.team .fade-transition {
  transition: opacity 200ms ease;
}
.team .fade-enter {
  opacity: 0;
}
.team .fade-enter-active {
  opacity: 1;
}
.team .fade-leave {
  opacity: 1;
}
.team .fade-leave-active {
  opacity: 0;
}
.team .loading {
  text-align: center;
  color: #010035;
}
.team .team-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  margin: 0 0 4rem 0;
}
.team .team-controls input {
  height: 5.4rem;
  width: 100%;
  font-size: var(--wp--preset--font-size--font-18);
  padding: 0 40px 0 1rem;
  color: #010035;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%23DF687B' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='m15.043 15.253-3.378-3.378m0 0a6.223 6.223 0 1 0-8.8-8.8 6.223 6.223 0 0 0 8.8 8.8Z'/%3E%3C/svg%3E");
  background-position: calc(100% - 1.3rem) 50%;
  background-repeat: no-repeat;
  border: 1px solid #010035;
  border-radius: 3px;
}
.team .team-controls input:focus, .team .team-controls input:active {
  border: 1px solid #F0D8B2;
  outline: none;
}
.team .team-controls .tabs {
  display: flex;
  align-items: center;
  color: #010035;
  font-size: var(--wp--preset--font-size--font-14);
  gap: 4rem;
}
.team .team-controls .tabs ul {
  display: none;
  padding: 1.2rem 1.6rem;
  border-radius: 88px;
  margin: 0;
  gap: 8px;
  border: 1px solid rgba(1, 0, 53, 0.1);
}
.team .team-controls .tabs ul li {
  list-style: none;
  padding: 0 16px;
  border-radius: 40px;
  font-size: var(--wp--preset--font-size--font-14);
  margin-bottom: 0;
  text-align: center;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}
.team .team-controls .tabs ul li.active {
  background: #010035 !important;
  color: white;
}
.team .team-controls .tabs ul li:hover {
  cursor: pointer;
  background: rgba(1, 0, 53, 0.1019607843);
}
.team .team-controls .tabs .tab-select {
  width: 100%;
  padding: 1.3rem 1.6rem;
  font-size: var(--wp--preset--font-size--font-14);
  color: #010035;
  border: 1px solid rgba(1, 0, 53, 0.1);
  border-radius: 4px;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4 6L8 10L12 6" stroke="%238F8A72" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 1.3rem) center;
  background-size: 18px;
}
.team .team-controls .tabs .tab-select:focus {
  border-color: #F0D8B2;
  outline: none;
}
@media (min-width: 1024px) {
  .team .team-controls .tabs .tab-select {
    display: none;
  }
  .team .team-controls .tabs ul {
    display: flex;
  }
}
.team .team-controls .dropdown {
  position: relative;
}
.team .team-controls .dropdown button {
  width: 100%;
  height: 5.4rem;
  font-size: var(--wp--preset--font-size--font-18);
  padding: 0 1.3rem;
  color: #010035;
  background-color: #fff;
  border: 1px solid #010035;
  border-radius: 3px;
  transition: border 0.25s ease-in-out;
}
.team .team-controls .dropdown button span {
  display: block;
  line-height: 47px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  overflow: hidden;
}
.team .team-controls .dropdown button:after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' fill='none'%3E%3Cpath stroke='%23DF687B' stroke-linecap='round' stroke-linejoin='round' d='m16.868.604-7.677 7.83L1.445.604'/%3E%3Cpath stroke='%23DF687B' stroke-linecap='round' stroke-linejoin='round' d='m16.87 6.772-7.678 7.83-7.746-7.83'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 8px);
  right: 1.3rem;
  transition: transform 0.25s ease-in-out;
}
.team .team-controls .dropdown button:focus, .team .team-controls .dropdown button:active {
  border: 1px solid #F0D8B2;
  outline: none;
}
.team .team-controls .dropdown button:focus:after {
  transform: scaleY(-1);
}
.team .team-controls .dropdown button:hover {
  cursor: pointer;
}
.team .team-controls .dropdown .dropdown-menu {
  width: 100%;
  font-size: var(--wp--preset--font-size--font-15);
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 1.5rem 0;
  color: #010035;
  background: linear-gradient(210deg, #010035 10%, rgb(1.4811320755, 0, 78.5) 80%);
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 5;
}
.team .team-controls .dropdown .dropdown-menu li {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0.6rem 2rem;
  border-radius: 3px;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), gap 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team-controls .dropdown .dropdown-menu li:before {
  content: "";
  display: block;
  width: 11px;
  height: 12px;
  margin-top: 0.7ch;
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background: #010035;
  background-size: cover;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team-controls .dropdown .dropdown-menu li:hover, .team .team-controls .dropdown .dropdown-menu li:active, .team .team-controls .dropdown .dropdown-menu li:focus {
  gap: 1.25rem;
  cursor: pointer;
}
.team .team-controls .dropdown .dropdown-menu li:hover:before, .team .team-controls .dropdown .dropdown-menu li:active:before, .team .team-controls .dropdown .dropdown-menu li:focus:before {
  background: #010035;
}
.team .team-controls .reset-btn {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: center;
  font-size: var(--wp--preset--font-size--font-18);
  line-height: 1;
  color: #010035;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.team .team-controls .reset-btn svg {
  margin-top: -2px;
  transition: transform 0.25s ease-in-out;
}
.team .team-controls .reset-btn:hover, .team .team-controls .reset-btn:focus-visible {
  color: #010035;
}
.team .team-controls .reset-btn:hover svg, .team .team-controls .reset-btn:focus-visible svg {
  transform: scale(1.1);
}
@media (min-width: 560px) {
  .team .team-controls {
    flex-direction: row;
  }
  .team .team-controls .search-bar {
    width: 100%;
  }
  .team .team-controls .dropdown.role-dropdown, .team .team-controls .dropdown.type-dropdown {
    width: calc(60% - 1rem);
  }
  .team .team-controls .dropdown.sort-dropdown {
    width: calc(40% - 1rem);
  }
  .team .team-controls .reset-btn {
    margin-left: auto;
  }
}
@media (min-width: 900px) {
  .team .team-controls {
    gap: 10px;
  }
  .team .team-controls .search-bar {
    width: calc(30% - 1rem);
  }
  .team .team-controls .dropdown.role-dropdown, .team .team-controls .dropdown.type-dropdown {
    width: calc(38% - 1rem);
    order: -2;
  }
  .team .team-controls .dropdown.sort-dropdown {
    width: 16rem;
    order: -1;
  }
}
@media (min-width: 1100px) {
  .team .team-controls {
    gap: 2rem;
  }
  .team .team-controls .search-bar {
    width: calc(30% - 2rem);
  }
  .team .team-controls .dropdown.role-dropdown, .team .team-controls .dropdown.type-dropdown {
    width: calc(34% - 2rem);
    order: -2;
  }
  .team .team-controls .dropdown.sort-dropdown {
    width: 20rem;
  }
}
.team .team-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8rem;
  align-items: start;
}
@media (min-width: 550px) {
  .team .team-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 880px) {
  .team .team-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .team .team-list .team__member__outter {
    position: relative;
  }
  .team .team-list .team__member__outter:before {
    content: "";
    border-bottom: 1px solid rgba(1, 0, 53, 0.1);
    position: absolute;
    bottom: -4rem;
    width: calc(100% + 8rem);
    left: 0;
    right: 0;
  }
  .team .team-list .team__member__outter:after {
    content: "";
    border-right: 1px solid rgba(1, 0, 53, 0.1);
    position: absolute;
    right: -4rem;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .team .team-list .team__member__outter:nth-of-type(3n):after {
    content: none;
  }
  .team .team-list .team__member__outter:nth-of-type(3n):before {
    width: 100%;
  }
  .team .team-list .team__member__outter:last-child:before {
    width: calc(100% + 4rem);
  }
}
.team .team-list .team__member {
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}
.team .team-list .team__member .bio-content {
  display: none;
}
.team .team-list .team__member:hover .title:before, .team .team-list .team__member:active .title:before, .team .team-list .team__member:focus .title:before {
  background-image: url(../../../assets/images/theme/acc-plus-fill.svg);
}
.team .team-list.grid-view {
  border-top: 1px solid rgba(1, 0, 53, 0.1);
  padding-top: 2.4rem;
  gap: 4.8rem;
}
@media (min-width: 880px) {
  .team .team-list.grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .team .team-list.grid-view {
    grid-template-columns: repeat(4, 1fr);
  }
}
.team .team-list.grid-view .image {
  display: none;
}
.team .team-list.grid-view .team__member.team__member__outter:before {
  width: calc(100% + 4.8rem);
  bottom: -2rem;
}
.team .team-list.grid-view .team__member.team__member__outter:after {
  right: -2.4rem;
}
.team .team-list.grid-view .team__member.team__member__outter:nth-of-type(3n):after {
  content: "" !important;
}
.team .team-list.grid-view .team__member.team__member__outter:nth-of-type(3n):before {
  width: 100%;
}
.team .team-list.grid-view .team__member.team__member__outter:nth-last-of-type(-n + 3)::before {
  content: "" !important;
}
.team .team-list.grid-view .team__member.team__member__outter:nth-of-type(4n):after {
  content: none;
}
.team .team-list.grid-view .team__member.team__member__outter:nth-of-type(4n):before {
  width: 100%;
}
.team .team-list.grid-view .team__member.team__member__outter .title {
  padding: 0 6rem 0 0;
}
.team .team-list.grid-view .team__member.team__member__outter .title h3 {
  color: #010035;
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-20);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  border: none;
  margin: 0;
  padding: 0;
}
.team .team-list.grid-view .team__member.team__member__outter .title:before {
  top: 0;
}
.team .profile {
  position: relative;
}
.team .profile img {
  width: 100%;
  height: auto;
  line-height: 0;
  aspect-ratio: 1.5/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.team .profile .image {
  line-height: 0;
  position: relative;
}
.team .profile h3 {
  display: inline-block;
  font-size: var(--wp--preset--font-size--font-24);
  line-height: 140%;
  margin: 0;
  padding: 0;
}
.team .profile .meta {
  font-size: var(--wp--preset--font-size--font-16);
  line-height: 1.2;
  margin-right: -4rem;
  color: rgba(1, 0, 53, 0.6);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.team .profile .title {
  width: 100%;
  padding: 4rem 6rem 0 0;
  position: relative;
}
.team .profile .title:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(../../../assets/images/theme/acc-plus.svg);
  top: 4rem;
  right: 0rem;
  transition: background-image ease-in-out 0.25s;
  background-size: cover;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  inset: 0;
  position: fixed;
  z-index: 99999999;
  transition: 0.5s ease 0.2s;
  pointer-events: all;
}
.modal .modal-inner {
  max-width: 600px;
  height: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s ease;
  pointer-events: all;
  overflow: hidden;
}
.modal .modal-inner::-webkit-scrollbar {
  width: 10px;
}
.modal .modal-inner::-webkit-scrollbar-thumb {
  background: rgba(240, 216, 178, 0.3);
  border-radius: 8px;
  border: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
}
.modal .modal-inner::-webkit-scrollbar-track {
  background: rgba(1, 0, 53, 0.3);
}
.modal .modal-inner:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}
.modal .modal-close-wrapper {
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 2;
}
.modal .modal-content {
  height: 100%;
}
.modal .modal-content img {
  width: 100%;
  height: auto;
  line-height: 0;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  background: rgba(1, 0, 53, 0.5);
  border-radius: 3px;
  aspect-ratio: 1.5/1;
}
.modal .modal-content .text {
  padding: 1.5rem 2rem 2rem;
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media (min-width: 1024px) {
  .modal .modal-content .text {
    padding: 3.5rem 4rem 4rem;
    height: calc(100% - 405px);
  }
}
.modal .modal-content .text #title {
  padding: 0;
  border-bottom: 1px solid rgba(1, 0, 53, 0.1);
  margin-bottom: 2.4rem;
}
.modal .modal-content .text #title h3 {
  margin: 0 0 0.5rem 0;
  font-size: var(--wp--preset--font-size--font-32);
}
.modal .modal-content .text #title p {
  display: inline-flex;
  font-size: var(--wp--preset--font-size--font-18);
  line-height: 1.2;
  color: #010035;
  margin-bottom: 2.4rem;
}
.modal .modal-content .text #bio {
  padding-bottom: 8rem;
}
.modal .modal-content .text #bio p,
.modal .modal-content .text #bio ul {
  font-size: var(--wp--preset--font-size--font-16);
  margin-bottom: 5px;
}
.modal .modal-content .text #bio h6 {
  font-family: var(--wp--preset--font-family--primary);
  margin-bottom: 1rem;
}
.modal .modal-content .text #bio ul {
  margin-top: 0;
}
.modal .modal-content .text #bio ul li {
  margin-bottom: 0;
}
.modal .modal-content .text #bio .is-style-small-title {
  display: inline-flex;
  font-size: var(--wp--preset--font-size--font-14);
  padding-top: 0.2ch;
  border-top: 1px solid #F0D8B2;
}
.modal.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
}
.modal.active .modal-inner {
  transform: translateX(0);
  transition-delay: 0.2s;
  opacity: 1;
}
.modal .modal-controls {
  width: 100%;
  border-top: 1px solid rgba(1, 0, 53, 0.1);
  padding: 2.4rem 4rem 2.4rem 4rem;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
}
.modal #close {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 21px;
  font-weight: 100;
  line-height: 0;
  text-align: center;
  color: white;
  background: #010035;
  border: 1px solid #010035;
  border-radius: 100%;
  -webkit-appearance: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.modal #close:hover {
  color: #FF8A45;
  border-color: #010035;
}
.modal .modal-nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.modal .next {
  float: right;
  justify-content: right;
}
.modal .prev {
  float: left;
  justify-content: left;
}
.modal .prev:after {
  content: "";
  border-right: 1px solid rgba(1, 0, 53, 0.1);
  opacity: 1;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal .next,
.modal .prev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  margin: 0;
  cursor: pointer;
  gap: 1.6rem;
  position: relative;
}
.modal .next span,
.modal .prev span {
  font-size: var(--wp--preset--font-size--font-16);
  color: rgba(1, 0, 53, 0.6);
}
.modal .next.disabled,
.modal .prev.disabled {
  opacity: 0.3;
  cursor: text;
}
.modal .next svg,
.modal .prev svg {
  width: 42px;
  height: 42px;
}
.modal .next svg circle,
.modal .next svg path,
.modal .prev svg circle,
.modal .prev svg path {
  transition: all 0.25s ease-in-out;
}
.modal .next:not(:disabled):hover svg path:first-of-type,
.modal .prev:not(:disabled):hover svg path:first-of-type {
  fill: #010035;
  opacity: 1;
}
.modal .next:not(:disabled):hover svg path:not(:first-of-type),
.modal .prev:not(:disabled):hover svg path:not(:first-of-type) {
  stroke: white;
}
.modal .next[disabled=disabled] svg,
.modal .next[disabled=disabled] span,
.modal .prev[disabled=disabled] svg,
.modal .prev[disabled=disabled] span {
  opacity: 0.2;
  pointer-events: none;
}

html.menu-opened #team__modal {
  pointer-events: all;
}
html .modal-opened {
  overflow: hidden;
}/*# sourceMappingURL=block-team-filter.css.map */