@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.latest-document {
  + .latest-document {
    margin-top: 3rem;
  }

  a {
    display: block;
    background: $primary;
    border-radius: 8px;

    .btn {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 80px;
      background: $grey;
    }

    svg {
      width: 21px;
      height: 13px;
    }

    .cover-wrap {
      display: block;
      overflow: hidden;
      position: relative;
      transition: opacity $speed $ease;
    }

    .cover {
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      aspect-ratio: 11/6;
      transition: transform $speed $ease;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      .cover-wrap {
        opacity: 0.9;

        &:after {
          opacity: 0.75;
        }
      }

      .cover {
        transform: scale(1.025);
      }
    }
  } // a

  h3 {
    font-size: $font-22;
    line-height: 1.3;
    color: $white;
    margin: 0;

    span {
      display: block;
    }

    em {
      font-size: 1.5rem;
      font-weight: 600;
      font-style: normal;
      color: $purple;
    }
  }

  .meta {
    display: block;
    font-size: 1.5rem;
    color: $grey;
    margin: 0.4ch 0 0 0;
  }

  &.title-bottom {
    a {
      .cover-wrap {
        position: relative;
      }
    }

    .title {
      display: flex;
      flex-wrap: wrap;

      h3 {
        width: calc(100% - 80px);
        margin: 0;
        padding: 1ch;
      }
    }
  } // bottom title

  &.title-cover {
    a {
      position: relative;

      .cover-wrap {
        margin: 0;
        border-radius: 8px;

        &:after {
          content: "";
          display: block;
          background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 100%
          );
          opacity: 1;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: opacity 0.18s ease-in-out 0.05s;
        }
      }

      .title {
        padding: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        width: fit-content;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;

        svg {
          position: absolute;
          bottom: 15px;
          left: 15px;
        }

        h3 {
          color: #fff;
          font-size: $font-32;
        }

        .meta {
          color: rgba(white, 0.6);
          font-size: $font-20;
          font-family: $ff-body;
          margin-top: 1.5rem;
        }
      }

	  &:hover {
		.wp-block-button__link {
			&::before {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}
	  }
    }
  }
}
