@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.portfolio-table {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;

	.list-item {
		width: 100%;
		display: flex;
		gap: 40px;
   		align-items: center;
		justify-content: flex-end;
		padding: 1.6rem 5rem 1.6rem 0;
		position:relative;
		border-top:1px solid $border-dark;  

		&.total-row {
			background: #E1E8F6;
			justify-content: space-between;
			border:none;

			&.white-bg {
				background: #fff;
			}

			p.value {
				font-size: $font-40;  
			}
		}

		&:hover {
			// img {
			// 	opacity: 0;
			// }

			.hover-link {
				opacity: 1;
			}

			// .icon-wrapper p.company-hover {
			// 	opacity: 0.3;
			// }
		}

		

		.icon-wrapper {
			position: relative;
			width: 10rem;
			height: 10rem;
			min-width: 10rem;

			img {
				width: 10rem;
				height: 10rem;
				transition: opacity $ease $speed;
			}

			p.company-hover {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $primary;
				text-align: center;
				font-size: $font-14;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;
				letter-spacing: -0.28px;
				opacity: 0;
				transition: opacity $ease $speed;
			}
		}
		

		p {
			margin:0 !important;
			color:$primary;

			&.company {
				width: 100%;

				&.no-icon {
					padding-left: 4rem;
					border-left: 1px solid $border-dark;
					line-height: 4.4rem;  
				}
			}

			&.first_invested{
				font-size: $font-14;  
				padding-left: 4rem;
   				border-left: 1px solid $border-dark;  
				min-height: 6.7rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				min-width: 14rem;

				.no-value {
					display: block;
					width: 3rem;
					height: 1px;
					background: $primary;
				}
			}

			&.value {
				font-family: $ff-title;
				font-size: $font-24;
				font-style: normal;
				font-weight: 300;
				line-height: 140%;
				padding-left: 4rem;
				border-left: 1px solid $border-dark;  
				min-width: 19rem;
			}

			span {
				display: block;
				font-size: $font-14;
				font-style: normal;
				font-weight: 400;
				line-height: 160%; 
				color:$primary;
				opacity: 0.5;
				font-family: $ff-body;
			}
		}

		.hover-link {
			display: block;
			width:3.2rem;
			height: 3.2rem;
			padding-right: 2rem;
			background-image: url("data:image/svg+xml;utf8, <svg width='32' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='16' cy='16.314' r='16' fill='%23FF8A45'/><path d='M20 16.981v4a1.333 1.333 0 0 1-1.333 1.333h-7.334A1.333 1.333 0 0 1 10 20.982v-7.333a1.333 1.333 0 0 1 1.333-1.333h4M18 10.315h4v4M14.666 17.648l7.333-7.333' stroke='%23fff' stroke-width='1.333' stroke-linecap='round' stroke-linejoin='round'/></svg>");
			background-repeat: no-repeat;
			background-size: 3.2rem;
			background-position: left;
			opacity: 0;
			transition: opacity $ease $speed;
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);
		}
	}
}