@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.wp-block-group.blur .backdrop-blur-overlay {
  transition: opacity 0.6s ease, backdrop-filter 0.6s ease,
    -webkit-backdrop-filter 0.6s ease;
  opacity: 1;
}

.investment-slider {
  .investment-slide {
    display: flex;
    flex-wrap: wrap;

    &.public-companies {
      .investment-content {
        border-top: 4px solid $jade;
      }
    }

    &.private-capital {
      .investment-content {
        border-top: 4px solid $purple;
        .taxonomy:before {
          background-color: $purple;
        }
      }
    }

    &.funds {
      .investment-content {
        border-top: 4px solid $light-blue;
        .taxonomy:before {
          background-color: $light-blue;
        }
      }
    }

    .investment-content {
      width: 52%;
      background: #01003599;
      padding: 4rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .taxonomy {
        margin-bottom: 4rem;
        font-size: $font-14;
        color: white;
        position: relative;
        &:before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 9px;
          background-color: $jade;
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none"><circle cx="4" cy="4.43555" r="4" fill="%2375C69B"/></svg>');
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-position: center;
          margin-right: 1.6rem;
        }
      }

      .logo {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8rem;

        img {
          object-fit: contain;
          max-height: 50px;
        }
      }

      h3 {
        color: white;
        font-size: $font-24;
        font-family: $ff-body;
        margin-bottom: 1rem;
      }

      p {
        color: rgba(white, 0.6);
        font-size: $font-18;
        margin-top: 0;
        max-width: 450px;
      }

      .controls {
        position: relative;
        margin-top: auto;
        height: 45px;
        border-top: 1px solid rgba(white, 0.1);
        padding-top: 7rem;

        .swiper-pagination {
          width: auto !important;
          left: 0 !important;

          &-bullet {
            background-color: white;
          }

          &-bullet-active {
            width: 34px;
            background: white;
            border-radius: 30px;
          }
        }

        .swiper-nav {
          width: 41px;
          height: 41px;
          top: calc(100% - 19px);

          &:after {
            display: none;
          }

          &.swiper-button-next {
            right: -1px;

            &.swiper-button-disabled {
              opacity: 0.2;
            }
          }

          &.swiper-button-prev {
            left: calc(100% - 90px);

            &.swiper-button-disabled {
              opacity: 0.2;
            }
          }

          .rect {
            transition: stroke $speed $ease;
          }

          &:hover {
            .rect {
              stroke: $orange;
            }
          }
        }
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .investment-meta {
      width: 48%;
      aspect-ratio: 7 / 6.5;
      position: relative;
      background-size: cover;
      background-position: center;

      .meta-box {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(50px);
        padding: 4rem;
        position: absolute;
        bottom: 0;
        display: flex;
        margin: 4rem;
        flex-direction: column;

        .meta-box-group {
          display: flex;
          gap: 4rem;

          &:first-of-type {
            border-bottom: 1px solid rgba(white, 0.1);
            padding-bottom: 2.4rem;
            margin-bottom: 2.4rem;
          }

          .stat {
            flex: 1;
            min-width: 0;

            span {
              display: block;
              color: rgba(white, 0.6);
              font-size: $font-14;
              line-height: 1.1;
              margin-bottom: 0.5rem;
            }

            &:nth-child(even) {
              border-left: 1px solid rgba(white, 0.1);
              padding-left: 4rem;
            }

            p,
            h3 {
              color: white;
              margin-bottom: 0;
            }

            p {
              font-size: $font-16;
            }
          }
        }
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
