.content-panel {
  background: white;
  grid-column: 2;
}
.content-panel .acc-panel .wp-block-heading + p:not(.is-style-mt40) {
  margin-top: 2.4rem !important;
}
.content-panel .acc-panel .wp-block-group.has-background {
  padding: 4rem;
  border-radius: 4px;
}
.content-panel .acc-panel h3, .content-panel .acc-panel h4, .content-panel .acc-panel h5, .content-panel .acc-panel h6 {
  margin-bottom: 2.4rem;
}
.content-panel .acc-panel p, .content-panel .acc-panel li {
  font-size: var(--wp--preset--font-size--font-18);
}
.content-panel .acc-panel li {
  line-height: 160%;
  margin-bottom: 0;
}
.content-panel .acc-panel .wp-block-image img {
  width: 100%;
}

@media (max-width: 749px) {
  .content-panel > div {
    overflow-x: hidden;
  }
  .content-group.acc {
    padding: 0;
  }
  .content-group.acc .content-panel {
    display: block !important;
    width: 100%;
    padding: 0;
  }
  .content-group.acc .content-panel > input {
    display: none;
  }
  .content-group.acc .content-panel > input + .acc-title {
    display: block;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.9ch 40px 0.9ch 1.4rem;
    margin: 0;
    color: #8559D7;
    border: 1px solid #8559D7;
    border-radius: 4px;
    position: relative;
    transition: color 0.25s ease-in-out;
  }
  .content-group.acc .content-panel > input + .acc-title:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #8559D7;
    -webkit-mask: url(../../../assets/images/theme/acc-plus.svg) no-repeat center/contain;
            mask: url(../../../assets/images/theme/acc-plus.svg) no-repeat center/contain;
    position: absolute;
    top: calc(50% - 8px);
    right: 1ch;
  }
  .content-group.acc .content-panel > input + .acc-title:hover {
    color: #8559D7;
    cursor: pointer;
  }
  .content-group.acc .content-panel > input + .acc-title span {
    display: block;
    width: calc(100% - 40px);
  }
  .content-group.acc .content-panel > input + .acc-title + .acc-panel {
    height: 0;
    visibility: hidden;
    padding: 0;
    border: 1px solid transparent;
    transition: visibility 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s, height 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s, padding 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s;
  }
  .content-group.acc .content-panel > input + .acc-title + .acc-panel > * {
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.82, -0.04, 1, 1);
  }
  .content-group.acc .content-panel > input + .acc-title + .acc-panel .wp-block-columns:first-child {
    margin-top: 0;
  }
  .content-group.acc .content-panel > input + .acc-title + .acc-panel .wp-block-columns:last-child {
    margin-bottom: 0;
  }
  .content-group.acc .content-panel > input:checked + .acc-title {
    color: #8559D7;
  }
  .content-group.acc .content-panel > input:checked + .acc-title:after {
    background-color: #8559D7;
    -webkit-mask: url(../../../assets/images/theme/acc-minus.svg) no-repeat center/contain;
            mask: url(../../../assets/images/theme/acc-minus.svg) no-repeat center/contain;
  }
  .content-group.acc .content-panel > input:checked + .acc-title + .acc-panel {
    height: auto;
    visibility: visible;
    padding: 20px 0;
  }
  .content-group.acc .content-panel > input:checked + .acc-title + .acc-panel > * {
    opacity: 1;
  }
  .content-group.contents .content-panel > input,
  .content-group.contents .content-panel > label {
    display: none;
  }
  .content-group.contents .content-panel > div {
    opacity: 0;
    animation: fadeIn 0.45s forwards 0.15s;
  }
  .content-group.contents .content-panel.active {
    display: block;
  }
}
@media (min-width: 750px) {
  .content-panel > input,
  .content-panel > label {
    display: none;
  }
  .content-panel > div {
    animation: fadeIn 0.45s forwards 0.15s;
    opacity: 0;
  }
  .content-panel.active {
    display: block;
  }
}/*# sourceMappingURL=block-content-panel.css.map */