@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.related-pages {
  position: relative;
  padding: 12rem 0;
  overflow: hidden;

  &.is-style-darkmode {
    .glass {
      backdrop-filter: blur(150px);
    }

    h3 {
      color: white;
    }

    li {
      border-top: 1px solid rgba(white, 0.1);

      &:nth-child(even) {
        a {
          border-left: 1px solid rgba(white, 0.1);
        }
      }

      a {
        color: white;

        svg {
          circle,
          path {
            stroke: white;
          }
        }

        &:hover {
          color: white;

          svg {
            circle {
              stroke: $orange;
              fill: $orange;
            }
          }
        }
      }
    }
  }

  &.no-blur {
    .glass {
      display: none !important;
    }
  }

  .bg {
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  .glass {
    position: absolute;
    inset: 0;
    z-index: 2;
    backdrop-filter: blur(100px);
  }

  .title {
    position: relative;
    z-index: 3;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4rem;
    list-style: none;
    position: relative;
    z-index: 3;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      width: 100%;
      border-top: 1px solid rgba($primary, 0.1);
      padding-top: 4rem;

      a {
        display: flex;
        align-items: center;
        position: relative;

        p {
          margin: 0;
        }

        .btn {
          margin-right: 3rem;
        }

        path {
          transition: stroke $speed $cb;
        }

        circle {
          transition: fill $speed $cb, stroke $speed $cb;
        }

        &:hover,
        &:active,
        &:focus {
          color: $primary;
          svg {
            circle {
              fill: $orange;
            }

            path {
              stroke: white;
            }
          }
        }
      }
    }

    @media (max-width: 599px) {
    }

    @media (min-width: 768px) {
      li {
        width: 50%;

        &:nth-child(even) {
          a {
            border-left: 1px solid rgba($primary, 0.1);
            padding-left: 4rem;
          }
        }
      }
    }
  }
}
