@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.image-slides {
  padding-bottom: 6.6rem;

  .image-slider {
    width: 100%;
    position: relative;
    overflow: visible;

    .swiper-slide {
      overflow: hidden;
      border-radius: 8px;
      width: 80% !important;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 670px;
      }
    }

    .swiper-pagination {
      width: auto !important;
      left: 0 !important;
      right: 0 !important;
      bottom: -6.6rem;

      &-bullet {
        background-color: white;
      }

      &-bullet-active {
        width: 18px;
        background: white;
        border-radius: 30px;
      }
    }

    .swiper-nav {
      width: 56px;
      height: 56px;

      &:after {
        display: none;
      }

      &.swiper-button-next {
        right: 12%;

        &.swiper-button-disabled {
          opacity: 0.2;
        }
      }

      &.swiper-button-prev {
        left: 2rem;

        &.swiper-button-disabled {
          opacity: 0.2;
        }
      }

      path {
        transition: stroke $speed $ease;
      }

      &:hover {
        path:first-child {
          fill: $primary;
        }
        path:not(:first-child) {
          stroke: white;
        }
      }
    }
  }
}
