@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.lmn-docuement-downloads {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 4rem !important;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &.is-style-fullwidth {
    grid-template-columns: 1fr;
  }

  .document-item {
    p {
      margin: 0 !important;
      color: $primary;

      &.file {
        opacity: 0.5;
        font-size: $font-16;
      }
    }
    a {
      display: flex;
      gap: 4.4rem;
      align-items: center;
      text-decoration: none !important;

      &:before {
        content: "";
        opacity: 1;
        z-index: 1;
        min-width: 32px;
        height: 32px;
        display: inline-block;
        transition: all $ease $speed;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.document-item--file {
      a {
        &::before {
          background-image: url(../../../assets/images/theme/icon-download.svg);
        }

        &:hover::before {
          background-image: url(../../../assets/images/theme/icon-download-fill.svg);
        }
      }
    }

    &.document-item--external {
      a {
        &::before {
          transform: rotate(320deg);
          background-image: url(../../../assets/images/theme/icon-arrow-right.svg);
        }

        &:hover::before {
          background-image: url(../../../assets/images/theme/icon-arrow-right-fill.svg);
        }
      }
    }

    &.document-item--video {
      a {
        &::before {
          background-image: url(../../../assets/images/theme/icon-video.svg);
        }

        &:hover::before {
          background-image: url(../../../assets/images/theme/icon-video-fill.svg);
        }
      }
    }
  }

  &.left_border {
    gap: 1.6rem;
    .document-item a {
      gap: 0;

      > div {
        margin-left: 2.4rem;
        padding-left: 2.4rem;
        border-left: 1px solid rgba($primary, 0.1);
      }
    }
  }

  &.left_border_light {
    gap: 1.6rem;
    .document-item a {
      gap: 0;

      > div {
        margin-left: 2.4rem;
        padding-left: 2.4rem;
        border-left: 1px solid rgba(white, 0.1);
      }
    }
  }

  &.dark-mode {
    .document-item {
      a,
      p {
        color: #fff;
      }
    }
  }

  &.gap16 {
    .document-item {
      a {
        gap: 16px !important;
      }
    }
  }
}
