@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

// Base tab-panel
.tab-panel {
  background: white;
  padding: 8rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .acc-panel {
    .wp-block-heading + p:not(.is-style-mt40) {
      margin-top: 2.4rem !important;
    }

    .wp-block-heading + p.mt1 {
      margin-top: 1rem !important;
    }
  }
}

.filter-style {
    .tab-panel  {
      border-radius: 4px;
      padding: 4rem; // overrides the default 8rem
    }
   
  }

// Mobile
@media (max-width: 749px) {
  .tab-panel {
    > div {
      overflow-x: hidden;
    }
  }

  .tab-group.acc {
    padding: 0;

    .tab-panel {
      display: block !important;
      width: 100%;
      padding: 0;
      margin-bottom: 1rem;
      border-radius: 4px;

      > input {
        display: none;

        + .acc-title {
          display: block;
          font-weight: 500;
          line-height: 1.25;
          padding: 2.4rem 4rem 2.4rem 2.4rem;
          margin: 0;
          color: $primary;
          border-radius: 4px;
          position: relative;
          transition: color $speed $ease;

          &:after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color: $primary;
            mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23010035" stroke-opacity="0.5" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            mask-position: center;
            mask-size: contain;
            position: absolute;
            top: calc(50% - 8px);
            right: 2.4rem;
          }

          &:hover {
            //color: $purple;
            cursor: pointer;

            &:after {
              //background-color: $primary;
              //transform: rotate(180deg);
            }
          }

          span {
            display: block;
            width: calc(100% - 40px);
          }

          + .acc-panel {
            height: 0;
            visibility: hidden;
            padding: 0;
            border: 1px solid transparent;
            transition: visibility 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s,
              height 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s,
              padding 0.35s cubic-bezier(0.25, 0.5, 0.5, 1) 0.05s;

            > * {
              opacity: 0;
              transition: opacity 0.25s cubic-bezier(0.82, -0.04, 1, 1);
            }

            .wp-block-columns {
              &:first-child {
                margin-top: 0;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          } //panel
        } // title

        &:checked {
          + .acc-title {
            color: $primary;

            &:after {
              transform: rotate(180deg);
              // background-color: $purple;
              // mask: url(../../../assets/images/theme/acc-minus.svg) no-repeat
              //   center / contain;
            }

            + .acc-panel {
              height: auto;
              visibility: visible;
              padding: 2.4rem;

              > * {
                opacity: 1;
              }
            }
          }
        } // active/checked
      } //input
    } // tab-panel
  } // acc

  .tab-group.tabs {
    .tab-panel {
      > input,
      > label {
        display: none;
      }

      > div {
        opacity: 0;
        animation: fadeIn 0.45s forwards 0.15s;
      }

      &.active {
        display: block;

        > div {
          // animation: fadeIn .45s forwards .15s;
        }
      }
    } // tab-panel
  } // tabs view
}

// Desktop
@media (min-width: 750px) {
  .tab-panel {
    > input,
    > label {
      display: none;
    }

    > div {
      animation: fadeIn 0.45s forwards 0.15s;
      opacity: 0;
    }

    &.active {
      display: block;

      > div {
        //animation: fadeIn .45s forwards .15s;
      }
    }
  } // tab-panel
}
