@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.tab-group {
  margin: 0 !important;

  ul.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    li {
      margin: 0;
      padding: 0 1.7rem 0 0;
      position: relative;
      z-index: 2;

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      text-decoration: none !important;
      background: white;
      cursor: pointer;
      transition: color $speed $ease, opacity $speed $ease !important;
      opacity: 0.6;
      padding: 2.4rem 5rem;
      font-size: $font-18;
      border-radius: 8px 8px 0 0;

      &:after {
        display: none;
      }

      &.active,
      &:hover,
      &:active,
      &:focus {
        outline: none;
        opacity: 1;
      }
    } // a

    // fixed width buttons
    &.fw {
      li {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        flex-basis: 0;

        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    &.filter-style {
      padding: 12px 16px;
      align-items: center;
      gap: 8px;
      border-radius: 88px;
      border: 1px solid rgba(1, 0, 53, 0.20);   
      background: #fff;
      margin-bottom: 4rem;
      width: fit-content;

      li {
        padding: 0; // remove right padding from base
      }

      a {
        background: transparent;
        opacity: 1; // base used 0.6
        padding: 4px 16px;
        border-radius: 40px;
        color: $primary;
        font-style: normal;
        font-weight: 400;
        transition: all $speed $ease !important;

        &.active,
        &:hover,
        &:active,
        &:focus {
          outline: none;
          background: $primary;
          color: #fff;
        }
      }
    }
  } // tabs

  // side tabs
  .vert {
    ul.tabs {
      display: flex;
      flex-direction: column;
      width: calc(35% - 30px);
      margin: 0 30px 0 0;
      padding: 0;
      background: transparent;
      border: none;
      border-radius: 0;

      li {
        width: 100%;
        margin: 0 0 1rem 0;
        padding: 0;
      }

      a {
        display: block;
        height: auto;
        padding: 0.9ch 1.4rem;
        color: $primary !important;
        background: transparent;
        border: 1px solid $purple;
        border-radius: 4px;

        &:hover,
        &:active,
        &:focus,
        &.active {
          background: rgba($purple, 0.05);
          color: $purple !important;
          cursor: pointer;
        }
      }
    }

    @media (min-width: 768px) {
      .tab-panel {
        width: 65%;
      }
    }

    @media (min-width: 1024px) {
      ul.tabs {
        width: 180px;
      }
      .tab-panel {
        width: calc(100% - 215px);
      }
    }
  }

  // tab > accordion on mobile
  @media (max-width: 767px) {
    &.acc {
      ul.tabs {
        display: none;
      }
    }
  }
}
