ul.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 2.5rem 0;
  padding: 0;
  background: rgba(133, 89, 215, 0.2);
  position: relative;
}
ul.tabs li {
  margin: 0;
  padding: 0 0.5rem 0 0;
  position: relative;
  z-index: 2;
}
ul.tabs a {
  display: inline-flex;
  align-items: center;
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-18);
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  color: #010035;
  background: #F3E8D7;
  border-radius: 88px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none !important;
  color: #8559D7 !important;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out !important;
}
ul.tabs a:before {
  content: "";
  -webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.9355" r="15.2" stroke="%23FF8A45" stroke-width="1.6"/><path d="M11.0957 16.6191H20.429" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.9521L20.4284 16.6188L15.7617 21.2855" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.9355" r="15.2" stroke="%23FF8A45" stroke-width="1.6"/><path d="M11.0957 16.6191H20.429" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.9521L20.4284 16.6188L15.7617 21.2855" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: #FF8A45;
  margin-right: 16px;
}
ul.tabs a:hover:before, ul.tabs a:active:before, ul.tabs a:focus:before {
  -webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.5" r="16" fill="%23FF8A45"/><path d="M11.095 16.1836H20.4283" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.5176L20.4284 16.1842L15.7617 20.8509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.5" r="16" fill="%23FF8A45"/><path d="M11.095 16.1836H20.4283" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.5176L20.4284 16.1842L15.7617 20.8509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
ul.tabs a:after {
  display: none;
}
ul.tabs a.active, ul.tabs a:hover, ul.tabs a:active, ul.tabs a:focus {
  color: #fff !important;
  background: #8559D7;
  outline: none;
}
ul.tabs.fw li {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
ul.tabs.fw li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vert ul.tabs {
  display: flex;
  flex-direction: column;
  width: calc(35% - 30px);
  margin: 0 30px 0 0;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}
.vert ul.tabs li {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0;
}
.vert ul.tabs a {
  display: block;
  height: auto;
  padding: 0.9ch 1.4rem;
  color: #010035 !important;
  background: transparent;
  border: 1px solid #8559D7;
  border-radius: 4px;
}
.vert ul.tabs a:hover, .vert ul.tabs a:active, .vert ul.tabs a:focus, .vert ul.tabs a.active {
  background: rgba(133, 89, 215, 0.05);
  color: #8559D7 !important;
  cursor: pointer;
}
@media (min-width: 750px) {
  .vert .tab-panel {
    width: 65%;
  }
}
@media (min-width: 1024px) {
  .vert ul.tabs {
    width: 180px;
  }
  .vert .tab-panel {
    width: calc(100% - 215px);
  }
}

@media (max-width: 749px) {
  .acc ul.tabs {
    display: none;
  }
}/*# sourceMappingURL=block-tab-nav.css.map */