// desktop header styles
#nav-expander,
.sub-toggle {
  display: none;
}

header {
  padding: 2.5rem 0 0 0;

  &.sticky {
    padding: 1.8rem 0 0 0;

    #sitenav {
      .menu {
        > li {
          padding-bottom: 3rem;

          a {
            color: $primary;
          }
        }
      }
    }

    .menu-item-search {
      .search-toggle {
        border-color: rgba($primary, 0.2);
        > svg path {
          stroke: $primary;
          display: block;
        }
      }
    }
  } // sticky header

  > .wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    justify-content: space-between;
  }

  .branding {
    width: 170px;
    z-index: 9;

    @media (min-width: 1250px) {
      width: 196px;
    }
  }

  .menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: $space-xl;

    &:hover {
      > li > a {
        opacity: 0.5;
      }
    }

    li {
      margin: 0;
    }

    > li {
      padding: 1rem 0 3.5rem 0;
      position: relative;
      transition: padding $speed $ease;

      > a {
        position: relative;
        transition: opacity 0.3s ease;
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        > a {
          // &:after {
          //   content: "";
          //   border-bottom: 1px solid $orange;
          //   display: block;
          //   bottom: -5px;
          //   position: absolute;
          //   width: 100%;
          // }
        }
      }

      &:hover,
      &:active,
      &:focus,
      &:focus-visible,
      &.in-focus {
        > a {
          opacity: 1;
          &:before {
            border-color: $secondary;
          }
        }

        & > .child-menu {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    } // 1st level
  } // menu

  //.sub-menu {
  .child-menu {
    min-width: 280px;
    background: $lightgrey;
    box-shadow: 0 2px 2px 0 rgba(#000, 0.05), 0 3px 1px -2px rgba(#000, 0.05),
      0 1px 5px 0 rgba(#000, 0.1);
    transform: translateY(1rem);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.25s ease-in-out;

    li {
      margin: 0;
      padding: 0.2ch 1.2ch;
    }

    a {
      padding: 0.2ch 0;
      transition: color $speed $ease;

      &:hover,
      &:active,
      &:focus {
        color: $orange;
      }
    }

    li {
      &.current-menu-item {
        a {
          //font-weight: 500 !important;
          color: $orange;
        }
      }

      &:first-child {
        margin-top: 0.5rem;
      }

      &:last-child {
        margin-bottom: 0.5rem;
      }
    }
  } // submenu

  // mega menu
  &.megamenu-open {
    background: $lightgrey;
    box-shadow: none;

    #sitenav .menu > li > a {
      color: $primary;
    }

    // svg {
    //     > path {
    //         fill: $darkgreen;
    //     };
    // }
  }

  .has-megamenu {
    gap: 0;

    > li {
      padding-right: 2.8rem;

      &:last-child {
        padding-right: 0;
      }

      &.menu-item-has-children {
        position: static;
      }
    }

    .child-menu {
      &.megamenu {
        width: 100vw;
        padding-top: 40px;
        padding-bottom: 40px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        background-image: url(../assets/images/theme/mega-menu-overlay.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
      }

      .wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        min-height: 480px;
      }

      .mm-menu {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .mm-featured-image {
        flex: 1;

        img {
          max-height: 200px;
          object-fit: cover;
          object-position: center;
        }
      }

      .sub-menu {
        flex: 2;

        &.col2 {
          columns: 2;
          column-gap: 50px;

          li {
            max-width: 100%;

            // &.first-in-col2 {
            //   border-top: 1px solid $grey;
            // }
          }
        }

        li {
          //max-width: 50%;
          margin: 0;
          padding: 0;
          //border-bottom: 1px solid $grey;

          &:first-child {
            //border-top: 1px solid $grey;
          }

          a {
            padding: 4px 0;
            transition: text-decoration $ease $speed;

            &:hover {
              color: $primary;
              text-decoration: underline;
              text-underline-offset: 8px;
            }
          }
        }
      }

      .mega-menu-footer {
        display: flex;
        font-size: $font-14 !important;
        border-top: 1px solid rgba($primary, 0.1);
        padding-top: 4rem;
        margin-top: 6rem;
        align-items: center;
        gap: 5rem;

        p {
          margin: 0 !important;
        }

        a {
          font-size: $font-14 !important;
        }

        .mm-tools {
          display: flex;
          align-items: center;
          font-size: $font-14 !important;
          color: $primary;

          iframe {
            height: 20px;
            width: 200px;
          }
        }

        .mm-external {
          &:last-of-type {
            margin-left: auto !important;
          }
          a {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path d="M9 7.43555V10.4355C9 10.7008 8.89464 10.9551 8.70711 11.1427C8.51957 11.3302 8.26522 11.4355 8 11.4355H2.5C2.23478 11.4355 1.98043 11.3302 1.79289 11.1427C1.60536 10.9551 1.5 10.7008 1.5 10.4355V4.93555C1.5 4.67033 1.60536 4.41598 1.79289 4.22844C1.98043 4.0409 2.23478 3.93555 2.5 3.93555H5.5" stroke="%23010035" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.5 2.43555H10.5V5.43555" stroke="%23010035" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 7.93555L10.5 2.43555" stroke="%23010035" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: left center;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
