#topbar {
  padding: $space-m 0;

  @media (min-width: 500px) {
    .wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 2.5%;
      justify-content: space-between;
    }
  }
}

header {
  border-top: 2px solid $orange;
  padding: 1.5rem 0;
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all $speed $ease;

  @media (min-width: 1200px) {
    > .wrap {
      grid-template-columns: 220px auto 220px !important;
    }
  }

  @include admin-sticky-fix;

  &.sticky {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: $secondary-2;
    box-shadow: 0 2px 2px 0 rgba(#000, 0.05), 0 3px 1px -2px rgba(#000, 0.05),
      0 1px 5px 0 rgba(#000, 0.1);
    border-top: 4px solid $secondary-2;

    .branding a > {
      svg {
        path {
          display: none;
        }
        .icon {
          > path {
            display: block;
            fill: $primary;
          }
        }
      }
    }
  }

  .search-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    height: fit-content;
    z-index: 9999999;
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;

    @include admin-sticky-fix;

    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    .wrap {
      width: 100%;
      display: flex;
      align-items: flex-start;
    }

    .search-popup-inner {
      background: $primary;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .search-form-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        .search-icon {
          width: 28px;
          height: 28px;
          padding-bottom: 5px;
        }

        .search-close {
          cursor: pointer;

          circle {
            transition: fill $cb $speed;
          }

          &:hover {
            circle {
              fill: $orange;
            }
          }
        }

        form {
          width: 100%;
          input {
            padding: 2rem;
            background: transparent;
            color: white;
            border: none;
            text-transform: none;
            font-size: $font-16;

            &::placeholder {
              color: rgba(white, 0.5);
            }

            @media (min-width: 1024px) {
              padding: 3rem 2rem 3rem 2rem;
            }
          }
        }
      }

      .ajax-search-results {
        border-top: 1px solid rgba(white, 0.1);
        padding: 4rem 0;
        width: 100%;
        display: none;
        ul {
          li {
            margin-bottom: 16px;
            line-height: 1.1;
            a {
              font-size: $font-16;
              color: rgba(white, 0.4);

              .highlight {
                color: white;
              }

              &:hover {
                color: $orange;

                .highlight {
                  color: $orange;
                }
              }
            }
          }
        }

        .wp-block-button {
          margin-top: 3.2rem;
          .wp-block-button__link {
            color: white;
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .branding {
    width: 140px;
    margin: 0;
    position: relative;
    transition: width $speed $cb, padding $speed $ease;

    svg {
      width: 100%;
      > path {
        transform: fill $speed $ease;
      }
    }
  }

  #sitenav {
    .menu {
      > li {
        > a {
          color: white;
        }
      }

      a {
        display: block;
        font-size: $font-16;
      }
    }
  }

  .menu-item-search {
    width: 4rem;
    height: 4rem;

    @media (min-width: 1024px) {
      padding-top: 0.5rem;
      display: flex;
      justify-self: flex-end;
    }

    .search-toggle {
      width: 4rem;
      height: 4rem;
      line-height: 40px;
      border-radius: 30px;
      border: 1.5px solid white;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        margin: auto;
      }
    }
  } // search button
}

@media (max-width: 1023px) {
  @import "header-mobile";
} // 1023px - mobile

@media (min-width: 1024px) {
  @import "header-desktop";
} // 1024px - desktop
