.wrap {
  max-width: $content-width; // use from theme.json var
  margin: 0 auto;
}

.narrow {
  max-width: 770px;
  margin: 12rem auto;
}

.parallax-up {
  margin-top: 100vh;
  background: white;
  position: relative;
  z-index: 4;
}

.has-global-padding {
  > .alignfull {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#content {
  background-color: white;
}

#sidebar {
  margin-bottom: var(--spacer);
}

@media (min-width: 1024px) {
  .has-sidebar {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: row-reverse;
    gap: 6rem;

    #content {
      width: calc(100% - 28rem);
    }

    #sidebar {
      width: 22rem;
    }

    &.sidebar-left {
      flex-direction: row-reverse;
    }
  } // sidebar
} // 1024px
