@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.column-chart {
  border: 1px solid rgba($primary, 0.1);
  padding: 3.2rem 3.2rem 1.2rem 3.2rem;
  border-radius: 4px;
}
