.large-cta {
  display: block;
  text-decoration: none;
  position: relative;
  min-height: 900px;
  height: calc(100vh - 100px);
}
.large-cta .wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 12rem 0;
}
.large-cta__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.large-cta__image:after {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}
.large-cta__heading {
  z-index: 4;
  position: relative;
}
.large-cta__heading h2 {
  color: white;
}
.large-cta__content {
  padding: 4rem;
  position: relative;
  z-index: 3;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  max-width: 480px;
  width: 100%;
}
.large-cta__content p {
  margin-bottom: 4rem;
  color: white;
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 400;
}
.large-cta .btn {
  display: inline-flex;
  align-items: center;
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-18);
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  color: #010035;
  background: #F3E8D7;
  border-radius: 88px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.large-cta .btn:before {
  content: "";
  -webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.9355" r="15.2" stroke="%23FF8A45" stroke-width="1.6"/><path d="M11.0957 16.6191H20.429" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.9521L20.4284 16.6188L15.7617 21.2855" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.9355" r="15.2" stroke="%23FF8A45" stroke-width="1.6"/><path d="M11.0957 16.6191H20.429" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.9521L20.4284 16.6188L15.7617 21.2855" stroke="%23FF8A45" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: #FF8A45;
  margin-right: 16px;
}
.large-cta .btn:hover:before, .large-cta .btn:active:before, .large-cta .btn:focus:before {
  -webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.5" r="16" fill="%23FF8A45"/><path d="M11.095 16.1836H20.4283" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.5176L20.4284 16.1842L15.7617 20.8509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          mask-image: url('data:image/svg+xml,<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16.5" r="16" fill="%23FF8A45"/><path d="M11.095 16.1836H20.4283" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.7617 11.5176L20.4284 16.1842L15.7617 20.8509" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}/*# sourceMappingURL=block-large-cta.css.map */