@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.large-cta {
  display: block;
  text-decoration: none;
  position: relative;
  min-height: 900px;
  height: calc(100vh - 100px);
  overflow: hidden;

  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 12rem 0;
    position: relative;
    z-index: 2;
  }

  &__video-wrapper {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;

    .video-container {
      position: absolute;
      inset: 0;

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        border: none;
      }
    }

    .video-overlay {
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 2;
      transition: opacity 1s ease;
      pointer-events: none; // overlay is non-clickable
      &:after {
        content: "";
        background: var(--after-bg, rgba(0, 0, 0, 0.25));
        position: absolute;
        inset: 0;
      }

      &.hidden {
        opacity: 0;
      }
    }
  }

  &__image,
  &__heading,
  &__content {
    will-change: transform;
    transform: translate3d(0, 0, 0);
  }

  &__image {
    //aspect-ratio: 11/6;
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    inset: 0;
    height: 120%;

    &:after {
      content: "";
      background: var(--after-bg, rgba(0, 0, 0, 0.25));
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__heading {
    z-index: 4;
    position: relative;
    max-width: 900px;

    h2 {
      color: white;
    }
  }

  &__content {
    padding: 4rem;
    position: relative;
    z-index: 3;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    max-width: 480px;
    width: 100%;

    p {
      margin-bottom: 4rem;
      color: white;
      font-size: 1.6rem;
      line-height: 160%;
      font-weight: 400;
    }
  }

  &.is-style-centered {
    .wrap {
      justify-content: center;

      .large-cta__heading {
        .wp-block-heading.is-style-large-heading {
          text-align: center;
        }
      }
      .large-cta__heading {
        margin: 0 auto;
        h2 {
          font-size: $font-56;
          line-height: 120%;
        }
      }
      .large-cta__content {
        padding: 0 4rem 4rem 4rem;
        margin: 0 auto;
        background: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: none;
        max-width: 665px;

        p {
          opacity: 0.8;
          font-size: 2rem;
        }
      }
    }
  }
}
