@import "../../../scss/abstracts/vars";

.investment {
  margin-top: 0;
  margin-bottom: 10rem !important;

  .fade-transition {
    transition: opacity 200ms ease;
  }
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
  }
  .fade-leave {
    opacity: 1;
  }
  .fade-leave-active {
    opacity: 0;
  }

  .loading {
    text-align: center;
    color: $primary;
  }
  // slider
  .investment-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    align-items: start;
    position: relative;
    overflow-x: hidden;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 880px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .swiper-wrapper {
      .swiper-slide {
        margin-bottom: 4rem;
        position: relative;

        @media (min-width: 768px) {
          &::before {
            content: "";
            display: block;
            height: calc(100% - 4rem);
            width: 1px;
            background: $border;
            position: absolute;
            left: -4rem;
            top: 0;
          }
        }
      }
    }

    .slide-content {
      .slide-image {
        margin-bottom: 2.4rem;
        img {
          object-fit: cover;
          width: 40rem;
          height: 36rem;
        }
      }

      h4 {
        color: #fff;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        font-size: $font-20;
        font-family: $ff-body;
        margin-bottom: 8px;
      }

      .slide-excerpt p {
        color: $off-white;
        font-size: $font-16;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }

      .slide-button {
        color: $off-white;
        font-size: $font-14;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;

        &::before {
          content: "";
          display: inline-block;
          width: 3.2rem;
          height: 3.2rem;
          background-image: url("data:image/svg+xml;utf8,<svg width='33' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='16.332' cy='16.314' r='15.25' stroke='%23FF8A45' stroke-width='1.5'/><path d='M16.332 11.648v9.334M11.668 16.316h9.333' stroke='%23FF8A45' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          transform: translateY(11px);
          margin-right: 1.6rem;
          transition: all 0.4s;
        }
      }

      &:hover {
        .slide-button::before {
          background-image: url("data:image/svg+xml;utf8,<svg width='32' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='16' cy='16.314' r='16' fill='%23FF8A45'/><path fill='%23FF8A45' d='M8 8.314h16v16H8z'/><path d='M16 11.648v9.334M11.336 16.316h9.333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        }
      }
    }
  }
} // slider

.investment-slider-navigation {
  width: 100%;
  height: 10rem;
  padding-top: 4rem;
  border-top: 1px solid $border;
  height: 4rem;
  position: relative;

  #investment-pagination {
    position: relative;
    text-align: left;
    transform: translateY(10px);

    .swiper-pagination-bullet {
      background: white !important;
      transition: all 0.4s;
    }

    .swiper-pagination-bullet-active {
      width: 3.4rem;
      border-radius: 4px;
    }
  }

  .investment-slider-arrows {
    position: absolute;
    right: 0;
    top: 4rem;
    height: 4rem;

    #investment-slider-prev {
      left: unset;
      right: 6rem;

      &::after {
        content: "";
        content: "";
        display: block;
        min-width: 40px;
        min-height: 40px;
        background-image: url("data:image/svg+xml;utf8,<svg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='20' cy='20.314' r='19' stroke='%23fff' stroke-width='2'/><path d='M13.867 19.918h11.667M19.703 14.086l5.834 5.833-5.834 5.834' stroke='%23fff' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
        transform: rotate(-180deg);
        transition: all $speed $ease;
      }

      &:hover {
        &:after {
          background-image: url('data:image/svg+xml,<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20.3145" r="19" fill="white" stroke="white" stroke-width="2"/><path d="M13.8691 19.918H25.5358" stroke="%23010035" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.7031 14.0859L25.5365 19.9193L19.7031 25.7526" stroke="%23010035" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }
    }

    #investment-slider-next {
      &::after {
        content: "";
        content: "";
        display: block;
        min-width: 40px;
        min-height: 40px;
        background-image: url("data:image/svg+xml;utf8,<svg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='20' cy='20.314' r='19' stroke='%23fff' stroke-width='2'/><path d='M13.867 19.918h11.667M19.703 14.086l5.834 5.833-5.834 5.834' stroke='%23fff' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
        transition: all $speed $ease;
      }

      &:hover {
        &:after {
          background-image: url('data:image/svg+xml,<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20.3145" r="19" fill="white" stroke="white" stroke-width="2"/><path d="M13.8691 19.918H25.5358" stroke="%23010035" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.7031 14.0859L25.5365 19.9193L19.7031 25.7526" stroke="%23010035" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }
    }
  }
}

// team bio modal
#investment__modal {
  background: #00000091;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  position: fixed;
  z-index: 99999999;
  transition: 0.5s ease 0.2s;
  pointer-events: all;

  .modal-inner {
    max-width: 60rem;
    height: 100%;
    padding: 0;
    background: #fff;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s ease;
    pointer-events: all;
    overflow: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($secondary, 0.3);
      border-radius: 8px;
      border: none;
      transition: 0.2s ease;
      opacity: 0;
    }

    &::-webkit-scrollbar-track {
      background: rgba($primary, 0.3);
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      max-height: 360px;
      height: auto;
      line-height: 0;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      background: rgba($primary, 0.5);
      border-radius: 3px;
    }
  } // modal-inner

  .modal-content {
    padding: 2rem;

    @media (min-width: 1024px) {
      padding: 4rem;
    }

    .modal-heading {
      margin-bottom: 3.2rem;

      h3 {
        font-size: $font-32;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        margin-bottom: 1.6rem;
      }
    }

    .wp-block-button {
      display: inline;
      margin-right: 4rem;
    }

    .modal-link {
      &:before,
      &:after {
        transform: rotate(320deg);
      }
    }

    .video-link {
      &:before {
        background-image: url("../../../assets/images/theme/icon-video.svg");
      }
      &:after {
        background-image: url("../../../assets/images/theme/icon-video-fill.svg");
      }
    }

    .description {
      font-size: $font-16;
      margin-bottom: 4rem;

      h6 {
        font-family: $ff-body;
        margin-bottom: 1rem;
        font-size: $font-20;
      }

      p {
        font-size: $font-16;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        color: $off-off-primary;
        margin: 0 !important;
        margin-bottom: 5px !important;

        & + h6 {
          margin-top: 3.2rem !important;
        }
      }

      ul {
        margin-top: 0;
        li {
          margin-bottom: 0;
        }
      }
    }

    .investment-details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 4rem;

      .wrapper {
        width: 100%;
        display: flex;
        padding: 2.5rem 0;

        &.top {
          border-top: 1px solid $border-dark;
        }

        &.bottom {
          border-top: 1px solid $border-dark;
          border-bottom: 1px solid $border-dark;
        }

        p {
          width: 50%;
          margin: 0 !important;

          &:nth-child(1) {
            padding-right: 4rem;
          }

          &:nth-child(2) {
            padding-left: 4rem;
            border-left: 1px solid $border-dark;
          }

          &.no-border {
            border: none !important;
            padding-left: 0rem;
          }

          .heading {
            display: block;
            font-size: $font-14;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            color: $off-off-primary;
          }

          .data {
            color: $primary;
            font-size: $font-16;
            font-style: normal;
            font-weight: 400;
            line-height: 1;

            &.equity {
              font-family: $ff-title;
              font-size: $font-40;
              font-style: normal;
              font-weight: 300;
              line-height: 130%;
            }
          }
        }
      }
    }
  } // modal-content

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;

    .modal-inner {
      transform: translateX(0);
      transition-delay: 0.2s;
      opacity: 1;
    }
  } // active

  .modal-controls {
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;

    @media (min-width: 500px) {
      top: 40px;
      right: 40px;
    }

    @media (min-width: 1024px) {
      top: 50px;
      right: 50px;
    }
  } // modal-controls

  #close {
    display: block;
    width: 42px;
    height: 42px;
    font-size: 31px;
    font-weight: 100;
    line-height: 0;
    text-align: center;
    color: $primary;
    background: transparent;
    border: 1px solid $secondary;
    border-radius: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    transition: color $speed $ease, border-color $speed $ease;

    &:hover {
      color: black;
      border-color: $primary;
    }
  }

  .next,
  .prev {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin: 0;
    cursor: pointer;

    &.disabled {
      opacity: 0.3;
      cursor: text;
    }

    svg {
      circle,
      path {
        transition: stroke $speed $ease;
      }
    }

    &:hover {
      svg {
        circle {
          stroke: $primary;
        }

        path {
          stroke: black;
        }
      }
    }

    &[disabled="disabled"] {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .next {
    top: 49px;
    right: 0;
    margin: 10px 0;
  }

  .prev {
    top: 98px;
    left: 0;
  }
}

html {
  &.menu-opened {
    #investment__modal {
      pointer-events: all;
    }
  }

  .modal-opened {
    overflow: hidden;
  }
}
