.investment {
  margin-top: 0;
  margin-bottom: 10rem !important;
}
.investment .fade-transition {
  transition: opacity 200ms ease;
}
.investment .fade-enter {
  opacity: 0;
}
.investment .fade-enter-active {
  opacity: 1;
}
.investment .fade-leave {
  opacity: 1;
}
.investment .fade-leave-active {
  opacity: 0;
}
.investment .loading {
  text-align: center;
  color: #010035;
}
.investment .investment-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: start;
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 550px) {
  .investment .investment-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 880px) {
  .investment .investment-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.investment .investment-list .swiper-wrapper .swiper-slide {
  margin-bottom: 4rem;
  position: relative;
}
.investment .investment-list .swiper-wrapper .swiper-slide::before {
  content: "";
  display: block;
  height: calc(100% - 4rem);
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: -4rem;
  top: 0;
}
.investment .investment-list .slide-content .slide-image {
  margin-bottom: 2.4rem;
}
.investment .investment-list .slide-content .slide-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40rem;
  height: 36rem;
}
.investment .investment-list .slide-content h4 {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-size: var(--wp--preset--font-size--font-20);
  font-family: var(--wp--preset--font-family--primary);
  margin-bottom: 8px;
}
.investment .investment-list .slide-content .slide-excerpt p {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--wp--preset--font-size--font-16);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.investment .investment-list .slide-content .slide-button {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--wp--preset--font-size--font-14);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.investment .investment-list .slide-content .slide-button::before {
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("data:image/svg+xml;utf8,<svg width='33' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='16.332' cy='16.314' r='15.25' stroke='%23FF8A45' stroke-width='1.5'/><path d='M16.332 11.648v9.334M11.668 16.316h9.333' stroke='%23FF8A45' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(11px);
  margin-right: 1.6rem;
  transition: all 0.4s;
}
.investment .investment-list .slide-content:hover .slide-button::before {
  background-image: url("data:image/svg+xml;utf8,<svg width='32' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='16' cy='16.314' r='16' fill='%23FF8A45'/><path fill='%23FF8A45' d='M8 8.314h16v16H8z'/><path d='M16 11.648v9.334M11.336 16.316h9.333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

.investment-slider-navigation {
  width: 100%;
  height: 10rem;
  padding-top: 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 4rem;
  position: relative;
}
.investment-slider-navigation #investment-pagination {
  position: relative;
  text-align: left;
  transform: translateY(10px);
}
.investment-slider-navigation #investment-pagination .swiper-pagination-bullet {
  background: white !important;
}
.investment-slider-navigation .investment-slider-arrows {
  position: absolute;
  right: 0;
  top: 4rem;
  height: 4rem;
}
.investment-slider-navigation .investment-slider-arrows #investment-slider-prev {
  left: unset;
  right: 7rem;
}
.investment-slider-navigation .investment-slider-arrows #investment-slider-prev::after {
  content: "";
  content: "";
  display: block;
  min-width: 40px;
  min-height: 40px;
  background-image: url("data:image/svg+xml;utf8,<svg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='20' cy='20.314' r='19' stroke='%23fff' stroke-width='2'/><path d='M13.867 19.918h11.667M19.703 14.086l5.834 5.833-5.834 5.834' stroke='%23fff' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  transform: rotate(-180deg);
}
.investment-slider-navigation .investment-slider-arrows #investment-slider-next::after {
  content: "";
  content: "";
  display: block;
  min-width: 40px;
  min-height: 40px;
  background-image: url("data:image/svg+xml;utf8,<svg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='20' cy='20.314' r='19' stroke='%23fff' stroke-width='2'/><path d='M13.867 19.918h11.667M19.703 14.086l5.834 5.833-5.834 5.834' stroke='%23fff' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

#investment__modal {
  background: rgba(0, 0, 0, 0.568627451);
  opacity: 0;
  visibility: hidden;
  inset: 0;
  position: fixed;
  z-index: 99999999;
  transition: 0.5s ease 0.2s;
  pointer-events: all;
}
#investment__modal .modal-inner {
  max-width: 60rem;
  height: 100%;
  padding: 0;
  background: #fff;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s ease;
  pointer-events: all;
  overflow: auto;
  overflow-y: scroll;
}
#investment__modal .modal-inner::-webkit-scrollbar {
  width: 10px;
}
#investment__modal .modal-inner::-webkit-scrollbar-thumb {
  background: rgba(240, 216, 178, 0.3);
  border-radius: 8px;
  border: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
}
#investment__modal .modal-inner::-webkit-scrollbar-track {
  background: rgba(1, 0, 53, 0.3);
}
#investment__modal .modal-inner:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}
#investment__modal .modal-inner img {
  width: 100%;
  max-height: 360px;
  height: auto;
  line-height: 0;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  background: rgba(1, 0, 53, 0.5);
  border-radius: 3px;
}
#investment__modal .modal-content {
  padding: 2rem;
}
@media (min-width: 1024px) {
  #investment__modal .modal-content {
    padding: 4rem;
  }
}
#investment__modal .modal-content .modal-heading {
  margin-bottom: 4rem;
}
#investment__modal .modal-content .modal-heading h3 {
  font-size: var(--wp--preset--font-size--font-32);
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  margin-bottom: 1.6rem;
}
#investment__modal .modal-content .modal-heading p {
  font-size: var(--wp--preset--font-size--font-16);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: rgba(1, 0, 53, 0.6);
  margin: 0;
}
#investment__modal .modal-content .investment-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
#investment__modal .modal-content .investment-details .wrapper {
  width: 100%;
  display: flex;
  padding: 2.5rem 0;
}
#investment__modal .modal-content .investment-details .wrapper.top {
  border-top: 1px solid rgb(203, 209, 227);
}
#investment__modal .modal-content .investment-details .wrapper.bottom {
  border-top: 1px solid rgb(203, 209, 227);
  border-bottom: 1px solid rgb(203, 209, 227);
}
#investment__modal .modal-content .investment-details .wrapper p {
  width: 50%;
  margin: 0 !important;
}
#investment__modal .modal-content .investment-details .wrapper p:nth-child(1) {
  padding-right: 4rem;
}
#investment__modal .modal-content .investment-details .wrapper p:nth-child(2) {
  padding-left: 4rem;
  border-left: 1px solid rgb(203, 209, 227);
}
#investment__modal .modal-content .investment-details .wrapper p.no-border {
  border: none !important;
  padding-left: 0rem;
}
#investment__modal .modal-content .investment-details .wrapper p .heading {
  display: block;
  font-size: var(--wp--preset--font-size--font-14);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: rgba(1, 0, 53, 0.6);
}
#investment__modal .modal-content .investment-details .wrapper p .data {
  color: #010035;
  font-size: var(--wp--preset--font-size--font-16);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
#investment__modal .modal-content .investment-details .wrapper p .data.equity {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-40);
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}
#investment__modal.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
}
#investment__modal.active .modal-inner {
  transform: translateX(0);
  transition-delay: 0.2s;
  opacity: 1;
}
#investment__modal .modal-controls {
  width: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (min-width: 500px) {
  #investment__modal .modal-controls {
    top: 40px;
    right: 40px;
  }
}
@media (min-width: 1024px) {
  #investment__modal .modal-controls {
    top: 50px;
    right: 50px;
  }
}
#investment__modal #close {
  display: block;
  width: 42px;
  height: 42px;
  font-size: 31px;
  font-weight: 100;
  line-height: 0;
  text-align: center;
  color: #010035;
  background: transparent;
  border: 1px solid #F0D8B2;
  border-radius: 100%;
  -webkit-appearance: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
#investment__modal #close:hover {
  color: black;
  border-color: #010035;
}
#investment__modal .next,
#investment__modal .prev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin: 0;
  cursor: pointer;
}
#investment__modal .next.disabled,
#investment__modal .prev.disabled {
  opacity: 0.3;
  cursor: text;
}
#investment__modal .next svg circle,
#investment__modal .next svg path,
#investment__modal .prev svg circle,
#investment__modal .prev svg path {
  transition: stroke 0.25s ease-in-out;
}
#investment__modal .next:hover svg circle,
#investment__modal .prev:hover svg circle {
  stroke: #010035;
}
#investment__modal .next:hover svg path,
#investment__modal .prev:hover svg path {
  stroke: black;
}
#investment__modal .next[disabled=disabled],
#investment__modal .prev[disabled=disabled] {
  opacity: 0.2;
  pointer-events: none;
}
#investment__modal .next {
  top: 49px;
  right: 0;
  margin: 10px 0;
}
#investment__modal .prev {
  top: 98px;
  left: 0;
}

html.menu-opened #investment__modal {
  pointer-events: all;
}
html .modal-opened {
  overflow: hidden;
}/*# sourceMappingURL=block-investment-filter.css.map */