.hero-single {
  position: relative;

  &__image {
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }

    &:before {
      background: rgba(0, 0, 0, 0.35);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;
  }

  h1,
  h2 {
    font-size: $font-56;
    line-height: 120%;
    color: $primary;
    max-width: 900px;
    margin-bottom: 0;
  }

  p {
    font-size: $font-20;
    color: #fff;

    &.hero-image__subtitle {
      font-size: $font-18;
      margin-top: 2.4rem;
      margin-bottom: 0;
    }
  }

  // internal pages
  &:not(.home) {
    //margin-bottom: $space-xl;

    .hero-static__image {
      height: 45vh;
      min-height: 700px;

      &.is-child {
        margin-bottom: 4rem;
      }

      .wrap {
        height: 45vh;
        min-height: 400px;
        position: relative;

        @media (min-width: 1024px) {
          height: 45vh;
          min-height: 700px;
        }
      }
    }

    .hero-static__content {
      bottom: 0;
      left: 0;
      right: 0;
      top: 100px;
      margin: auto;
      display: flex;
      align-items: center;

      .wrap {
        width: 100%;
      }

      .page-title {
        font-size: $font-40;
        line-height: 120%;
        color: $primary;

        @media (min-width: 1024px) {
          font-size: $font-56;
        }
      }
    }
  }
}

body.single {
  .hero-single {
    display: flex;
    flex-direction: column-reverse;
    background: #cedcf1;
    min-height: 300px;

    @media (min-width: 1024px) {
      min-height: 530px;
    }

    .hero-single__image {
      min-height: 300px;

      @media (min-width: 1024px) {
        min-height: 600px;
      }

      &::before {
        content: none;
      }

      .wrap {
        min-height: 600px;

        img {
          border-radius: 4px;
        }
      }
    }

    .hero-single__content {
      margin: inherit;
      margin-top: 200px;
      margin-bottom: 6rem;
      top: 0;
      position: relative;

      &.no-image {
        margin-bottom: 8rem;
      }

      .meta-fields {
        display: flex;
        gap: 16px;
        margin-bottom: 2rem;

        p {
          color: $primary;
          border-left: 1px solid rgba($primary, 0.1);
          padding-left: 16px;
          font-size: $font-14;
          margin-top: 0 !important;

          &.meta {
            opacity: 0.5;
          }

          &.category {
            text-transform: uppercase;
          }

          &:first-child {
            border-left: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}
