.hero-static {
  position: relative;

  &__image {
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }

    &:before {
      background: rgba(0, 0, 0, 0.35);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;
  }

  h1,
  h2 {
    font-size: $font-28;
    margin: 0;
    color: #fff;
  }

  p {
    font-size: $font-20;
    color: #fff;

    &.hero-image__subtitle {
      font-size: $font-18;
      margin-top: 2.4rem;
      margin-bottom: 0;
    }
  }

  // homepage hero
  &.home {
    margin-bottom: $space-xl;

    .hero-static__image {
      height: 100vh;
      max-height: 760px;
    }

    .hero-static__content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    h2 {
      font-size: $font-50;

      + p {
        margin-top: $space-s;
      }
    }
  }

  // internal pages
  &:not(.home) {
    //margin-bottom: $space-xl;

    .hero-static__image {
      height: 45vh;
      min-height: 700px;

      &.is-child {
        margin-bottom: 4rem;
      }

      .wrap {
        height: 45vh;
        min-height: 400px;
        position: relative;

        @media (min-width: 1024px) {
          height: 45vh;
          min-height: 700px;
        }

        .banner-video-overlay {
          position: absolute;
          bottom: 4rem;
          left: 4rem;
          background: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(50px);
          padding: 2.4rem;
          border-radius: 8px;
          overflow: hidden;
          z-index: 10;

          p.video-title {
            font-family: $ff-title;
            font-size: $font-18;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            margin-bottom: 1.6rem;
          }

          .video-control {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            padding-top: 1.6rem;
            border-top: 1px solid rgb(255 255 255 / 20%);

            p {
              margin: 0 !important;
              font-size: $font-14;
              font-style: normal;
              font-weight: 400;
              line-height: 160%;

              &.duration {
                opacity: 0.5;
              }
            }
            a.video-icon {
              font-size: $font-16;
              font-style: normal;
              font-weight: 400;
              line-height: 160%;
              color: #fff;

              &::before {
                content: "";
                display: block;
                width: 6rem;
                height: 6rem;
                background-image: url("data:image/svg+xml;utf8,<svg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'><foreignObject x='-6' y='-6.002' width='72' height='72'><div xmlns='http://www.w3.org/1999/xhtml' style='backdrop-filter:blur(3px);clip-path:url(%23a);height:100%;width:100%'/></foreignObject><circle data-figma-bg-blur-radius='6' cx='30' cy='29.998' r='29.25' stroke='%23fff' stroke-width='1.5'/><path d='m27.75 23.248 10.5 6.75-10.5 6.75v-13.5Z' fill='%23fff' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><defs><clipPath id='a' transform='translate(6 6.002)'><circle cx='30' cy='29.998' r='29.25'/></clipPath></defs></svg>");
                background-repeat: no-repeat;
                background-size: 6rem;
                background-position: center;
                transition: transform 0.4s;
              }

              &:hover:before {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    .hero-static__content {
      bottom: 0;
      left: 0;
      right: 0;
      top: 100px;
      margin: auto;
      display: flex;
      align-items: center;

      .wrap {
        width: 100%;
      }

      .page-title {
        font-size: 12rem;
        line-height: 110%;

        span {
          opacity: 0.4;
        }

        span.sub {
          padding-left: 20rem;
          display: block;
          opacity: 1;
        }

        span.no-sub {
          opacity: 1;
          //padding-left: 8rem;
        }
      }
    }
  }
}

body.page-child {
  .hero-static {
    display: flex;
    flex-direction: column-reverse;
    background: $primary;
    background-image: url(../assets/images/theme/inner-banner-mask.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 530px;

    &.overlay-yellow {
      background-image: url(../assets/images/theme/inner-banner-mask-yellow.png);
    }

    .hero-static__image {
      min-height: 300px;

      @media (min-width: 1024px) {
        min-height: 600px;
      }

      &::before {
        content: none;
      }

      .wrap {
        min-height: 600px;

        img {
          border-radius: 4px;
        }
      }
    }

    .hero-static__content {
      margin: inherit;
      margin-top: 200px;
      margin-bottom: 6rem;
      top: 0;
      position: relative;

      .page-title {
        font-size: 10rem;
        span.sub {
          padding-left: 8rem;
        }
      }

      &.no-image {
        margin-bottom: 8rem;
      }
    }
  }

  &.parent-pageid-2556 {
    .hero-static__content {
      .page-title {
        span.sub {
          display: inline-block;
          padding-left: 3rem;
        }
      }
    }
  }
}
