@import "../../../scss/abstracts/vars";
@import "../../../scss/abstracts/mixins";

.lmn-logo-grid {
  ul {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    li {
      background-color: $secondary-3;
      border-radius: 4px;
      margin-bottom: 0;
      aspect-ratio: 2 / 1.25;
      align-items: center;
      justify-content: center;
      display: flex;

      img {
        max-height: 75px;
        mix-blend-mode: multiply;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
